* {
	outline: none!important;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
*:active,
*:focus { outline: none!important; }
body, html { margin: 0; padding: 0; width: 100%; min-width: 320px; min-height: 320px; overflow-x: hidden;}
body {
	background: white;
	width: 100%;
	height: 100%;
	line-height: 1.2;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 400;
	overflow-x: hidden;
	color: #87959a;
}

h1, .title {
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
	color: #333333;
}
h2, .subtitle {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333333;
}

.mainpage_outer .title {
	line-height: 48px;
	font-size: 58px;
	font-weight: 700;
	text-transform: none;
	color: white;
}
.mainpage_outer h2,
.mainpage_outer .subtitle {
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	text-transform: none;
	color: white;
}

.white { color: white; }
.yellow { color: #fcff00; }
.lightgreen { color: #ace616; }

.font_12 { font-size: 12px; }

.light { font-weight: 300; }
.uppercase { text-transform: uppercase; }

a {
	text-decoration: underline;
	color: #333333;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
a:hover,
a:focus { color: #00aa4f; }

ul, ol {
	display: inline-block;
}
ul {
	list-style-type: disc;
	padding-left: 20px;
}
ol {
	counter-reset: li;
	padding-left: 0;
}
li {
	position: relative;
	margin-bottom: 8px;
	line-height: 1.1;
	font-size: 15px;
	color: #87959a;
	
}
ol li:before {
	content: counter(li);
    counter-increment: li;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0;
	color: #f98202;
}

.button {
	display: inline-block;
	border: 1px solid #00aa4f;
	border-radius: 6px;
	background: #00aa4f;
	padding: 0 10px;
	width: auto;
	min-width: 130px;
	max-width: 100%;
	height: 50px;
	font-size: 14px;
	text-align: center;
	text-decoration: none!important; 
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	
	transition: border-color 0.3s, background 0.3s, color 0.3s;
	-webkit-transition: border-color 0.3s, background 0.3s, color 0.3s;
	-moz-transition: border-color 0.3s, background 0.3s, color 0.3s;
}
.button:hover {
	border-color: #00c75d;
	background: #00c75d;
	color: white;
}
.button:active,
.button:focus {
	border-color: #019a48;
	background: #019a48;
	color: white;
}
.button.button_old {
	border: 2px solid #545d4f;
	border-radius: 20px;
	background: transparent;
	min-width: 146px;
	height: 40px;
	font-size: 14px;
	color: #545d4f;
}
.button.button_old:hover {
	border-color: #aed200;
	color: #333333;
}
.button.button_old:active,
.button.button_old:focus {
	border-color: #aed200;
	background: #aed200;
	color: #333333;
}
.button.button_transparent {
	border: 1px solid white;
	background: transparent;
	font-size: 14px;
	color: white;
}
.button.button_transparent:hover {
	border-color: #00aa4f;
	color: #00aa4f;
}
.button.button_transparent:active,
.button.button_transparent:focus {
	border-color: #00aa4f;
	background: #00aa4f;
	color: white;
}
.button.button_gray_transparent {
	border: 1px solid #a9a9a9;
	background: transparent;
	font-size: 14px;
	color: #a9a9a9;
}
.button.button_gray_transparent:hover {
	border-color: #00aa4f;
	color: #00aa4f;
}
.button.button_gray_transparent:active,
.button.button_gray_transparent:focus {
	border-color: #00aa4f;
	background: #00aa4f;
	color: white;
}
.button.button_orange {
	border: 1px solid #ff9c00;
	background: #ff9c00;
}
.button.button_orange:hover {
	border-color: #ffbc00;
	background: #ffbc00;
}
.button.button_orange:active,
.button.button_orange:focus {
	border-color: #d88400;
	background: #d88400;
}

a.button,
span.button {
	padding-top: 16px;
	padding-bottom: 16px;
}
input.button { border: none; }

blockquote {
	border: none;
	background: url(../img/icons/quote_left.png) no-repeat left top,
				url(../img/icons/quote_right.png) no-repeat right bottom;
	padding: 5px 35px 13px;
	font-size: 13px;
	color: #333333;
}

.form_element {
	position: relative;
	margin-bottom: 25px;
}

input[type="text"],
input[type="password"],
textarea {
	position: relative;
	border: 1px solid #d7dce0;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	font-size: 20px;
	color: #333333;
	
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	-moz-transition: border 0.3s, -moz-box-shadow 0.3s;
	transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #6ab50f;
	-webkit-box-shadow: inset 0 0 1px 2px #b8d10f;
	-moz-box-shadow: inset 0 0 1px 2px #b8d10f;
	box-shadow: inset 0 0 1px 2px #b8d10f;
}
input[type="text"],
input[type="password"] { height: 55px; }
textarea {
	height: 200px;
	resize: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color: transparent;}
input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {color: transparent;}
input[type="text"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {color: transparent;}
input[type="text"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {color: transparent;}

.form_element .placeholder {
	position: absolute;
	top: 5px;
	left: 20px;
	opacity: 0;
	font-size: 10px;
	color: #757575;
	
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.form_element span.error {
    position: absolute;
	bottom: 0;
    left: 20px;
    z-index: 10;
    font-size: 10px;
    color: red;
}
.password_element span.error { bottom: 22px; }
input.error,
textarea.error { border-color: red; }
.form_element.not_empty .placeholder,
input:focus + .placeholder,
textarea:focus + .placeholder { opacity: 1; }

.show_password {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	padding-left: 30px;
	width: 100%;
	font-size: 10px;
	color: #c9caca;
	cursor: pointer;
	
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.show_password:hover { color: #00aa4f; }
.show_password:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: -6px;
	left: 0;
	background: url(../img/icons/show_password.png) no-repeat center;
	width: 20px;
	height: 22px;
	
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}
.show_password.active:before {
	background-image: url(../img/icons/hide_password.png);
}

.radio, .checkbox {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
}
.checkbox input,
.radio input {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	margin: 0!important;
	width: 12px;
	height: 12px;
	opacity: 0;
}
.checkbox input + label,
.radio input + label {
	position: relative;
	padding-left: 30px;
	height: 12px;
	font-size: 16px;
	font-weight: 400;
}
.checkbox input + label:after,
.radio input + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	z-index: 5;
	border: 1px solid #4a4a4a;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.checkbox:hover input + label:after,
.radio:hover input + label:after { border: 1px solid #4cb270; }
.checkbox input + label:before,
.radio input + label:before {
	position: absolute;
    left: 0;
    z-index: 10;
    opacity: 0;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.checkbox input + label:before {
	content: '×';
}
.radio input + label:before {
	content: '•';
    top: 1px;
}

.checkbox input:checked + label:after,
.radio input:checked + label:after {
	border-color: #00b05a;
	background: #00b05a;
}
.checkbox input:checked + label:before,
.radio input:checked + label:before { opacity: 1; }

.radio input + label:after,
.radio input + label:before { border-radius: 50%; }


.modal {
	text-align: center;
	padding: 0!important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal-backdrop { background-color: #d1d1d1; }
.modal-backdrop.in {
	opacity: .94;
    filter: alpha(opacity=94);
}
.modal-dialog {
	display: inline-block;
	vertical-align: middle;
	width: 464px;
	text-align: left;
}
.modal_lg .modal-dialog { width: 782px; }
.modal-content {
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 45px;
}
.modal_lg .modal-content { padding: 30px; }
.modal-header {
	border: 0;
	padding: 30px 0 0;
}
.modal-header .close {
	position: absolute;
    top: 20px;
    right: 23px;
	background: url(../img/icons/close.png) no-repeat center;
	opacity: 1;
	width: 20px;
	height: 19px;
	
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}
.modal-header .close:hover {
	background-image: url(../img/icons/close_hover.png);
}
.modal-title {
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
}
.modal-body { padding: 0; }
.modal-body form .button {
	margin-top: 15px;
	margin-bottom: 25px;
}
.modal-footer {
	padding: 0 0 15px;
	text-align: left;
}

.play {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	background: rgba(1,165,77,0.9);
	width: 84px;
	height: 84px;
	
	-webkit-transition: background 0.3s, -webkit-transform 0.3s;
	-moz-transition: background 0.3s, -moz-transform 0.3s;
	transition: background 0.3s, transform 0.3s;
}
.play:hover {
	background: rgba(1,165,77,1);
	
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
.play:before {
	content: '';
	position: absolute;
	top: 27px;
	left: 37px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #fcff00;
}

@media (min-width: 1630px) {
	.container { width: 1600px; }
}
@media (max-width: 767px) {
	h1, .title { font-size: 26px; }
	.modal-dialog { width: 100%!important; }
}

.mCSB_outside+.mCSB_scrollTools {
    right: 10px;
}
.mCSB_scrollTools .mCSB_draggerRail { background-color: #575757; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #fcff00!important; }

.outer {
	position: relative;
	left: 0;
	overflow: hidden;
	
	-webkit-transition: left 0.6s;
	-moz-transition: left 0.6s;
	transition: left 0.6s;
}
.outer.opened { left: 150px; }


/* ---------------------------------------------------------------------- */
/* ------------------------------- ICONS -------------------------------- */
/* ---------------------------------------------------------------------- */

.icon_scroll {
	display: inline-block;
	background: url(../img/icons/scroll.png) no-repeat center;
	width: 22px;
	height: 33px;
	cursor: pointer;
}
	
/* ---------------------------------------------------------------------- */
/* ------------------------------ HEADER -------------------------------- */
/* ---------------------------------------------------------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	
	-webkit-transition: border 0.6s, background 0.6s;
	-moz-transition: border 0.6s, background 0.6s;
	transition: border 0.6s, background 0.6s;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background: url(../img/header_bg.png) center;
	width: 100%;
	height: 100%;
	
	-webkit-transition: border 0.6s, background 0.6s, opacity 0.6s;
	-moz-transition: border 0.6s, background 0.6s, opacity 0.6s;
	transition: border 0.6s, background 0.6s, opacity 0.6s;
}
.header .container {
	position: relative;
	z-index: 10;
}
.header .row {
	margin: 0;
	width: 100%;
	min-height: 50px;
	height: auto;
	
	-webkit-transition: min-height 0.6s;
	-moz-transition: min-height 0.6s;
	transition: min-height 0.6s;
}
.header .col {
	padding: 0;
	height: 100%;
}
.header .logo {
	position: absolute;
	top: 13px;
	left: 0;
	width: 145px;
	font-size: 36px;
	font-weight: 700;
	text-decoration: none;
	color: #00aa4f;
	
	-webkit-transition: top 0.6s;
	-moz-transition: top 0.6s;
	transition: top 0.6s;
}
.header .logo span {
	display: inline-block;
	border-bottom: 4px solid #fcff00;
	padding-bottom: 2px;
}
.main_menu {
	display: inline-block;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 60px;
	vertical-align: top;
	font-size: 0;
	text-align: center;
	
	-webkit-transition: top 0.6s, min-height 0.6s;
	-moz-transition: top 0.6s, min-height 0.6s;
	transition: top 0.6s, min-height 0.6s;
}
.main_menu li {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 13px;
}
.main_menu li:last-child { margin-right: 0; }
.main_menu li.active { font-weight: 700; }
.main_menu li:before { display: none; }
.main_menu a {
	display: inline-block;
	position: relative;
	border: 1px solid transparent;
	background: transparent;
	padding: 0 8px;
	height: 100%;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	
	-webkit-transition: border 0.3s, background 0.6s, color 0.3s, line-height 0.6s;
	-moz-transition: border 0.3s, background 0.6s, color 0.3s, line-height 0.6s;
	transition: border 0.3s, background 0.6s, color 0.3s, line-height 0.6s;
}
.main_menu li.active a,
.main_menu a:hover {
	background: #00aa4f;
	color: white;
}

.login_btn.button {
	position: absolute;
	top: 11px;
	right: 0;
	padding-top: 12px;
    padding-bottom: 12px;
	min-width: 100px;
	height: 40px;
	font-size: 12px;
	
	-webkit-transition: top 0.6s, border 0.3s, background 0.3s, color 0.3s;
	-moz-transition: top 0.6s, border 0.3s, background 0.3s, color 0.3s;
	transition: top 0.6s, border 0.3s, background 0.3s, color 0.3s;
}

@media (min-width: 1200px) and (max-width: 1629px) {
	.main_menu_container { padding-left: 30px!important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.main_menu li { margin-right: 20px; }
}
@media (min-width: 992px) {
	.header.top:before,
	.fp-viewing-0 .header:before { opacity: 0; }
	.header.top .row,
	.fp-viewing-0 .header .row { min-height: 90px; }
	.header.top .logo,
	.fp-viewing-0 .header .logo { top: 40px; }
	.header.top .main_menu,
	.fp-viewing-0 .header .main_menu {
		top: 50px;
		min-height: 40px;
	}
	.header.top .main_menu a,
	.fp-viewing-0 .header .main_menu a {
		border: 1px solid transparent;
		border-radius: 6px;
		line-height: 40px;
	}
	.header.top .main_menu li.active a,
	.header.top .main_menu a:hover,
	.fp-viewing-0 .header .main_menu li.active a,
	.fp-viewing-0 .header .main_menu a:hover {
		border-color: white;
		background: transparent;
		color: white;
	}
	.header.top .login_btn.button,
	.fp-viewing-0 .header .login_btn.button {
		top: 51px;
		border-color: #00aa4f;
		background: #00aa4f;
		color: white;
	}
	.header.top .login_btn.button:hover,
	.fp-viewing-0 .header .login_btn.button:hover {
		border-color: #00c75d;
		background: #00c75d;
		color: white;
	}
	.header.top .login_btn.button:active,
	.header.top .login_btn.button:focus,
	.fp-viewing-0 .header .login_btn.button:active,
	.fp-viewing-0 .header .login_btn.button:focus {
		border-color: #019a48;
		background: #019a48;
		color: white;
	}
	
	.main_menu_toggle_outer { position: relative; }
	.main_menu_toggle {
		display: none;
		position: absolute;
		top: 100%;
		left: 50%;
		border-radius: 6px;
		background: rgba(255,255,255,0.7);
		margin-top: 10px;
		margin-left: -115px;
		padding: 10px;
		width: 230px;
		text-align: left;
	}
	.main_menu_toggle_outer:hover .main_menu_toggle { display: inline-block; }
	.main_menu_toggle:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: -10px;
		left: 50%;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(255,255,255,0.7);
		margin-left: -10px;
	}
	.main_menu_toggle:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
	}
	.main_menu_toggle li {
		width: 100%;
		color: #0e1315;
	}
	.main_menu_toggle a {
		border-color: transparent!important;
		border-radius: 6px;
		background: transparent;
		padding: 6px 20px;
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		text-transform: none;
		line-height: 1.2!important;
		color: #0e1315;
	}
	.main_menu_toggle a:hover { background: #010f14!important; }
}
/* @media (min-width: 768px) and (max-width: 991px) {
	.header .logo {
		top: 25px;
		font-size: 26px;
	}
	.header.top .logo,
	.fp-viewing-0 .header .logo { top: 51px; }
	.main_menu li { margin-right: 0; }
	.main_menu > li > a { padding: 0 5px; }
	.header_phone_inner .header_phone { font-size: 18px; }
} */

@media (max-width: 991px) {
	.header .row { height: 50px; }
	.header .logo {
		top: 6px;
		left: 45px;
		z-index: 15;
		font-size: 32px;
	}
	.header .logo img { width: 115px; }
	
	.header .main_menu_container {
		position: fixed;
		left: -320px;
		top: 0;
		background: url(../img/header_bg.png) center #222222;
		-webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.3);
		box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.3);
		margin: 0!important;
		padding: 60px 30px;
		width: 320px;
		max-width: 100%;
		height: 100%;
		
		-webkit-transition: left 0.6s;
		-moz-transition: left 0.6s;
		transition: left 0.6s;
	}
	.header .main_menu_container.opened { left: 0; }
	.main_menu {
		overflow-y: auto;
		padding-top: 30px;
		height: 100%;
		text-align: left;
	}
	.main_menu li {
		margin-bottom: 4px;
		width: 100%;
		height: auto;
	}
	.main_menu a {
		width: 100%;
		line-height: 25px;
	}
	.main_menu_toggle { display: none; }
	
	.login_btn.button {
		top: 8px;
		right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 35px;
	}
}

/* hamburger
-------------------------------------------------------------------------- */

.hamburger {
	display: inline-block;
	position: absolute;
    top: 15px;
    left: 0;
	z-index: 15;
	margin-right: 15px;
	width: 28px;
    height: 20px;
	cursor: pointer;
	
	transition: top 0 0.6s, left 0 0.6s, opacity 0.3s 0.6s;
	-webkit-transition: top 0 0.6s, left 0 0.6s, opacity 0.3s 0.6s;
	-moz-transition: top 0 0.6s, left 0 0.6s, opacity 0.3s 0.6s;
}
.hamburger span,
.hamburger span:before,
.hamburger span:after {
	display: inline-block;
	position: absolute;
	left: 0;
	border-radius: 2px;
	background: #fcff00;
	width: 100%;
	height: 4px;
	
	transition: background 0.3s,
		top 0.6s,
		bottom 0.6s,
		width 0.6s,
		transform 0.6s,
		-webkit-transform 0.6s,
		-moz-transform 0.6s,
		left 0.6s;
	-webkit-transition: background 0.3s,
		top 0.6s,
		bottom 0.6s,
		width 0.6s,
		transform 0.6s,
		-webkit-transform 0.6s,
		-moz-transform 0.6s,
		left 0.6s;
	-moz-transition: background 0.3s,
		top 0.6s,
		bottom 0.6s,
		width 0.6s,
		transform 0.6s,
		-webkit-transform 0.6s,
		-moz-transform 0.6s,
		left 0.6s;
}
.hamburger:hover span,
.hamburger:hover span:before,
.hamburger:hover span:after { background: #ff9c00; }
.hamburger span {
	top: 50%;
	margin-top: -2px;
}
.hamburger span:before,
.hamburger span:after { content: ''; }
.hamburger span:before { top: -8px;
}
.hamburger span:after { bottom: -8px; }

.hamburger.active {
	transition: top 0.3s, left 0.3s, opacity 0.3s;
	-webkit-transition: top 0.3s, left 0.3s, opacity 0.3s;
	-moz-transition: top 0.3s, left 0.3s, opacity 0.3s;
}
.hamburger.active span:before {
	top: -4px;
	border-radius: 0;
    width: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    left: -3px;
}
.hamburger.active span:after {
	bottom: -4px;
	border-radius: 0;
    width: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: -3px;
}

@media (min-width: 992px) {
	.hamburger { display: none; }
}

/* ---------------------------------------------------------------------- */
/* -------------------------------- WRAPPER ----------------------------- */
/* ---------------------------------------------------------------------- */

.wrapper { padding-top: 55px; }
.outer_mainpage.wrapper { padding-top: 0; }
.main_content { min-height: 0; }

@media (max-width: 767px) {
	.wrapper { padding-top: 45px; }
}
/* ---------------------------------------------------------------------- */
/* ----------------------------- BOTTOM TEXT BLOCK ---------------------- */
/* ---------------------------------------------------------------------- */

.bottom_text {
	padding-top: 20px;
	padding-bottom: 20px;
}
.bottom_text p {
	margin: 0;
	font-size: 14px;
}

/* ---------------------------------------------------------------------- */
/* --------------------------------- FOOTER ----------------------------- */
/* ---------------------------------------------------------------------- */

.footer {
	border-top: 1px solid #d0d5da;
	padding: 20px 0;
}
.mainpage_outer .footer {
    position: fixed;
    bottom: -50%;
	border: none;
    width: 100%;
	
	-webkit-transition: bottom 1s 0.5s;
	-moz-transition: bottom 1s 0.5s;
	transition: bottom 1s 0.5s;
}
.footer p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
	color: #99a5a9;
}
.mainpage_outer .footer p {
	font-size: 13px;
	color: white;
}
.footer p span {
	font-size: 10px;
	font-weight: 400;
}
.footer a { font-weight: 400; }
.mainpage_outer .footer a {
	text-decoration: none!important;
	color: white;
}
.mainpage_outer .footer a:hover { color: #00aa4f; }
.footer_black {
    display: inline-block;
	position: relative;
	line-height: 12px;
	font-size: 10px;
	color: #333333;
}
.footer_black a { text-decoration: none!important; }

@media (min-width: 480px) and (max-width: 767px) {
	.mainpage_outer .footer { padding: 0; }
	.footer .col { height: 60px; }
	.mainpage_outer .footer .col { height: 50px; }
}
@media (max-width: 479px) {
	.mainpage_outer .footer { padding: 0; }
	.footer .col {
		margin-bottom: 20px;
		width: 100%;
	}
	.mainpage_outer .footer .row { margin: 0 -10px; }
	.mainpage_outer .footer .col {
		margin-bottom: 5px;
		padding: 0 10px;
		width: 50%;
		height: 50px;
	}
	.mainpage_outer .footer .col:nth-child(2),
	.mainpage_outer .footer .col:nth-child(3) { display: none; }
	.mainpage_outer .footer p,
	.mainpage_outer .footer a { font-size: 10px; }
	.footer .col:last-child { margin-bottom: 0; }
}

@media (max-height: 479px) {
	.mainpage_outer .footer .col { height: 30px; }
	.mainpage_outer .footer .col:nth-child(2),
	.mainpage_outer .footer .col:nth-child(3) { display: none; }
	.mainpage_outer .footer p,
	.mainpage_outer .footer a {
		font-size: 9px;
		line-height: 1;
	}
	.footer_black {
		line-height: 1;
		font-size: 9px;
	}
}

/* ---------------------------------------------------------------------- */
/* ----------------------------- LEARN PAGE ----------------------------- */
/* ---------------------------------------------------------------------- */

.jumb_green {
	position: relative;
	background: url(../img/learn_jumb_lg.jpg) no-repeat center;
	background-size: cover;
	height: 505px;
}
.jumb_green.jumb_green_sm {
	height: 285px;
}
.jumb_green:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAU+jEh8HwYGhi0wATAHJAkSgHNAAgBV7gNRbmnIiQAAAABJRU5ErkJggg==) center rgba(1,75,27,0.8);
	width: 100%;
	height: 100%;
}
.jumb_green .container {
	position: relative;
	z-index: 10;
	height: 100%;
}
.jumb_green_inner {
	position: relative;
	padding-top: 140px;
	height: 100%;
}
.jumb_green.jumb_green_sm .jumb_green_inner { padding-top: 100px; }
.jumb_green_inner .title { margin-bottom: 40px; }

.jumb_green_inner .lightgreen {
	position: absolute;
	bottom: 40px;
	left: 0;
	margin: 0;
	width: 100%;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 3px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.jumb_green { height: 320px; }
	.jumb_green_inner {
		padding-top: 50px;
		font-size: 16px;
	}
}
@media (max-width: 567px) {
	.jumb_green_inner {
		padding-top: 50px;
		font-size: 13px;
	}
	.jumb_green_inner .title { font-size: 16px; }
}

.services_container,
.services_gray_container { padding: 75px 0; }
.services_container .subtitle,
.services_gray_container .subtitle { margin-bottom: 45px; }
.services_element {
	border: 1px solid #dfe3e6;
	border-radius: 10px;
	background: white;
	overflow: hidden;
	margin-bottom: 50px;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	transition: border 0.3s;
}
.services_element:hover { border-color: #aed200; }

.services_element_head,
.services_element_title_block,
.services_element_body {
	display: table;
	width: 100%;
}
.services_element_head_inner,
.services_element_title_block_inner,
.services_element_body_inner {
	display: table-cell;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.services_element_head_inner {
	padding-bottom: 10px;
	height: 55px;
	vertical-align: bottom;
	font-size: 16px;
	font-weight: 700;
	color: #ffcc00;
}
.services_element.purchase .services_element_head_inner { padding-right: 130px; }
.services_element.purchase .services_element_head_inner:after {
	content: 'Оплачено';
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2cce00;
}
.services_element_img {
	position: relative;
	overflow: hidden;
	height: 230px;
}
.services_element.purchase .services_element_img a:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	border-radius: 50%;
	background: url(../img/icons/play_sm.png) no-repeat 43px center #ace616;
	margin-top: -52px;
	margin-left: -52px;
	width: 104px;
	height: 104px;
	
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}
.services_element.purchase.not_available .services_element_img a:before {
	background-image: url(../img/icons/stop.png);
	background-position: center;
}
.services_element.purchase:hover .services_element_img a:before {
	background-image: url(../img/icons/play_sm_hover.png);
	background-color: #069c49;
}
.services_element.purchase.not_available:hover .services_element_img a:before {
	background-image: url(../img/icons/stop_hover.png);
}
.services_element_img_inner {
	display: inline-block;
	background: no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
	
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.services_element:hover .services_element_img_inner {
	opacity: 0.8;
	
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	transform: scale(1.02);
}
.services_element_date {
	position: absolute;
	bottom: 25px;
	left: 20px;
	border: 1px solid #dfe3e6;
	border-radius: 10px;
	background: white;
	padding: 12px;
	font-size: 16px;
	font-weight: 600;
	color: #00aa4f;
	
	-webkit-transition: border 0.3s, background 0.3s, color 0.3s;
	-moz-transition: border 0.3s, background 0.3s, color 0.3s;
	transition: border 0.3s, background 0.3s, color 0.3s;
}
.services_element:hover .services_element_date {
	background: #aed200;
	border-color: #aed200;
	color: #333333;
}
.services_element_title_block { padding: 0 20px; }
.services_element_title_block_inner {
	border-bottom: 1px solid #dfe3e6;
	padding: 0;
	height: 100px;
	vertical-align: middle;
}
.services_element_title {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
}
.services_element_body_inner {
	padding-top: 20px;
	height: 250px;
	font-size: 18px;
	color: #545d4f;
}
.services_element_body_inner .button {
	position: absolute;
	bottom: 25px;
	left: 20px;
}

.services_gray_container { background: #f4f5f6; }
.services_gray_container .services_element {
	display: table;
	border: none;
	width: 100%;
}
.services_gray_container .services_element > .services_element_title {
	display: none;
	padding: 20px;
}
.services_gray_container .services_element_img,
.services_gray_container .services_element_body {
	display: table-cell;
	position: relative;
	padding: 20px;
	height: 280px;
	vertical-align: middle;
}
.services_gray_container .services_element_img { width: 33.333333%; }
.services_gray_container .services_element_img_inner {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	
	-webkit-transform: none!important;
	-moz-transform: none!important;
	transform: none!important;
}

.services_gray_container .services_element_body {
	padding-bottom: 60px;
	width: 66.666666%;
}
.services_gray_container .services_element_body p {
	font-size: 18px;
	color: #9b9b9b;
}
.services_gray_container .services_element_body .services_element_title {
	margin-bottom: 20px;
	font-size: 20px;
	color: #333333;
}
.services_gray_container .services_element_body .green {
	margin-bottom: 15px;
	font-size: 18px;
	color: #00aa4f;
}
.services_gray_container .services_element_body .button {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.services_element_title { font-size: 18px; }
	.services_element_body_inner { font-size: 16px; }
	.services_gray_container .services_element_img,
	.services_gray_container .services_element_body { height: 240px; }
	.services_gray_container .services_element_body p { font-size: 16px; }
	.services_gray_container .services_element_body .services_element_title {
		margin-bottom: 10px;
		font-size: 18px;
	}
	.services_gray_container .services_element_body .green {
		margin-bottom: 10px;
		font-size: 16px;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	.services_element_head_inner { font-size: 14px; }
	.services_element_title_block { padding: 0 15px; }
	.services_element_head_inner,
	.services_element_body_inner {
		padding-left: 15px;
		padding-right: 15px;
	}
	.services_element_title_block_inner {
		padding-left: 0;
		padding-right: 0;
	}
	.services_element_img { height: 200px; }
	.services_element_date {
		bottom: 20px;
		left: 15px;
	}
	.services_element_date {
		padding: 8px 5px;
		font-size: 12px;
	}
	.services_element_title { font-size: 14px; }
	.services_element_body_inner { font-size: 14px; }
	
	.services_gray_container .services_element_img,
	.services_gray_container .services_element_body { height: 240px; }
	.services_gray_container .services_element_body p { font-size: 12px; }
	.services_gray_container .services_element_body .services_element_title {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.services_gray_container .services_element_body .green {
		margin-bottom: 5px;
		font-size: 14px;
	}
}
@media (max-width: 567px) {
	.services_container .col { width: 100%; }
	.services_element_date {
		bottom: 20px;
		left: 15px;
		padding: 7px 5px;
		font-size: 14px;
	}
	.services_element_body_inner {
		height: auto;
		padding-bottom: 70px;
	}
	
	.services_gray_container .services_element,
	.services_gray_container .services_element_img,
	.services_gray_container .services_element_body { display: block; }
	.services_gray_container .services_element_img {
		margin: 0 auto;
		width: 270px;
		height: 250px;
	}
	.services_gray_container .services_element_body {
		padding-bottom: 70px;
		width: 100%;
		height: auto;
	}
	.services_gray_container .services_element > .services_element_title { display: inline-block; }
	.services_gray_container .services_element_body .services_element_title { display: none; }
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------- INDEX ----------------------------- */
/* ---------------------------------------------------------------------- */

.fullpage_slider .section {
	background: no-repeat center;
	background-size: cover;
}
.fullpage_slider .fs_elem_02,
.fullpage_slider .fs_elem_05 {
	background: repeat center;
	background-size: auto;
}
.fullpage_slider .container {
	position: relative;
	height: 100%;
}
.fullpage_slider .fs_elem { position: absolute; }
.bottom_elements {
	position: fixed;
	left: 0;
	bottom: 50px;
	width: 100%;
	
	-webkit-transition: bottom 1s 0.5s;
	-moz-transition: bottom 1s 0.5s;
	transition: bottom 1s 0.5s;
}
.bottom_elements .col { position: relative; }
.bottom_elements .copywrite {
	margin: 0;
	font-size: 13px;
	color: white;
}
.bottom_elements .go_down {
	display: inline-block;
	position: absolute;
	bottom: 5px;
	left: 50%;
	border-radius: 50%;
	border: 2px solid #676e12;
	background: url(../img/icons/arr_down.png) no-repeat center;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	
	-webkit-transition: border 0.3s, background 0.3s;
	-moz-transition: border 0.3s, background 0.3s;
	transition: border 0.3s, background 0.3s;
}
.bottom_elements .go_down:hover {
	border-color: #ff9c00;
	background-color: #ff9c00;
}
.bottom_elements .available_to_everyone {
	display: inline-block;
	position: absolute;
	right: -10%;
	bottom: -40px;
	margin-right: 15px;
	width: 300px;
	height: 125px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	
	-webkit-transition: bottom 0.6s, right 0.6s, -webkit-transform 0.6s;
	-moz-transform: bottom 0.6s, right 0.6s, -moz-transform 0.6s;
	transform: bottom 0.6s, right 0.6s, transform 0.6s;
}
.fp-viewing-0 .bottom_elements .available_to_everyone {
	right: -15px;
	bottom: -15px;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
.bottom_elements .available_to_everyone img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#fp-nav.right {
    top: 45%;
    right: 50%;
    margin-right: -785px;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
	border: 1px solid transparent;
	border-radius: 50%;
	margin: 0;
	width: 20px;
	height: 20px;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	transition: border 0.3s;
}
#fp-nav ul li a.active,
.fp-slidesNav ul li.active {
	border-color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	transition: border 0.3s;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	margin: -5px 0 0 -5px!important;
	width: 10px!important;
	height: 10px!important;
}
#fp-nav ul li a span:after,
.fp-slidesNav ul li a span:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: transparent;
	width: 6px;
	height: 6px;
	
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span { background: rgba(255,255,255,0.45); }
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span { background: #fcff00!important; }
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a.active span { background: white; }
#fp-nav ul li:hover a span:after,
.fp-slidesNav ul li:hover a span:after { background: #25282c; }
#fp-nav ul li a.active span:after,
.fp-slidesNav ul li a.active span:after { display: none; }

#fp-nav ul li .fp-tooltip {
	font-size: 12px;
	text-align: right;
}

@media (min-width: 1200px) and (max-width: 1629px) {
	#fp-nav.right { margin-right: -570px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	#fp-nav.right { margin-right: -470px; }
}
@media (min-width: 768px) and (max-width: 991px) {
	#fp-nav.right { margin-right: -360px; }
}
@media (max-width: 767px) {
	/* #fp-nav.right {
		right: 15px;
		margin-right: 0;
	} */
	#fp-nav { display: none; }
}

@media (max-width: 767px), (max-height: 767px) {
	.bottom_elements { bottom: 15px; }
	.bottom_elements .available_to_everyone {
		right: -110px;
		bottom: -45px;
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		transform: scale(0.3);
	}
	.fp-viewing-0 .bottom_elements .available_to_everyone {
		right: -95px;
		bottom: -40px;
		-webkit-transform: scale(0.4);
		-moz-transform: scale(0.4);
		transform: scale(0.4);
	}
	.bottom_elements .go_down {
		background-size: 12px;
		margin-left: -17px;
		width: 34px;
		height: 34px;
	}
}
@media (max-width: 567px), (max-height: 479px) {
	.bottom_elements .copywrite,
	.bottom_elements .available_to_everyone { display: none; }
	.bottom_elements .go_down { bottom: -5px; }
}

/* learnig steps
---------------------------------------------------------------------- */

.fs_elem_text_01 {
	top: 25%;
	opacity: 0;
	left: 15px;
	margin-top: -50px;
	
	background: -moz-radial-gradient(center, ellipse cover,  rgba(49,34,31,1) 0%, rgba(49,34,31,1) 15%, rgba(49,33,30,0) 50%, rgba(48,31,29,0) 94%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(49,34,31,1) 0%,rgba(49,34,31,1) 15%,rgba(49,33,30,0) 50%,rgba(48,31,29,0) 94%);
	background: radial-gradient(ellipse at center,  rgba(49,34,31,1) 0%,rgba(49,34,31,1) 15%,rgba(49,33,30,0) 50%,rgba(48,31,29,0) 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31221f', endColorstr='#00301f1d',GradientType=1 );

	background-size: contain;
	padding-top: 90px;
	
	-webkit-transition: margin-top 0.6s 1s, opacity 0.6s 1s;
	-moz-transition: margin-top 0.6s 1s, opacity 0.6s 1s;
	transition: margin-top 0.6s 1s, opacity 0.6s 1s;
}
.fp-viewing-0 .fs_elem_text_01 {
	margin-top: 0;
	opacity: 1;
}
.fs_elem_text_01:before {
	content: '';
	display: block;
	position: absolute;
	top: 25px;
	left: 20px;
	z-index: 5;
	border-radius: 50%;
	background: -moz-linear-gradient(left,  rgba(0,170,79,1) 0%, rgba(71,179,166,0) 57%, rgba(125,185,232,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,170,79,1) 0%,rgba(71,179,166,0) 57%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to right,  rgba(0,170,79,1) 0%,rgba(71,179,166,0) 57%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aa4f', endColorstr='#007db9e8',GradientType=1 );

	opacity: 0.6;
	width: 200px;
	height: 200px;
}
.fs_elem_text_01 * {
	position: relative;
	z-index: 10;
}
.fs_elem_text_01 .title { margin-bottom: 15px; }
.fs_elem_text_01 .yellow {
	margin-bottom: 30px;
	font-size: 32px;
}
.fs_elem_text_01 .description {
	display: inline-block;
	border-left: 2px solid white;
	margin-bottom: 40px;
	padding-left: 15px;
	font-size: 20px;
	color: white;
}
.fs_elem_text_01 .button_list .button {
	margin-right: 25px;
	margin-bottom: 15px;
}

@media (max-width: 991px) {
	.fs_elem_text_01 .title {
		margin-bottom: 5px;
		line-height: 24px;
		font-size: 30px;
	}
	.fs_elem_text_01 .yellow {
		margin-bottom: 10px;
		font-size: 18px;
	}
	.fs_elem_text_01 .description {
		margin-bottom: 15px;
		padding-left: 10px;
		font-size: 14px;
	}
	.fs_elem_text_01 .button_list .button {
		margin-right: 10px;
		padding-top: 11px;
		padding-bottom: 11px;
		min-width: 110px;
		height: 40px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.fs_elem_text_01 {
		top: 30%;
	}
}
@media (max-width: 767px) {
	.fs_elem_text_01 {
		top: 20%;
		padding-top: 20px;
	}
}
@media (max-width: 479px) {
	.fs_elem_text_01 { top: 28%; }
}

/* prudent investment
---------------------------------------------------------------------- */

.mainpage_wrapper .section h2,
.mainpage_wrapper .section .subtitle {
	position: absolute;
	top: 85px;
	left: 0;
	opacity: 0;
	margin-top: -50px;
	padding: 0 15px;
	width: 100%;
	text-align: center;
	
	-webkit-transition: margin-top 0.6s 1s, opacity 0.6s 1s;
	-moz-transition: margin-top 0.6s 1s, opacity 0.6s 1s;
	transition: margin-top 0.6s 1s, opacity 0.6s 1s;
}
.mainpage_wrapper .section.active h2,
.mainpage_wrapper .section.active .subtitle {
	margin-top: 0;
	opacity: 1;
}
.fs_elem_text_02 {
	top: 30%;
	left: 50%;
	opacity: 0;
	margin-left: -430px;
	width: 860px;
	height: 50%;
	
	-webkit-transition: opacity 1s 1.5s;
	-moz-transition: opacity 1s 1.5s;
	transition: opacity 1s 1.5s;
}
.fp-viewing-1 .fs_elem_text_02 { opacity: 1; }
.fs_elem_text_02 .big_percents {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 110px;
	font-weight: 700;
	font-style: italic;
	color: #01a54d;
}
.fs_elem_text_02 .big_percents span { font-size: 200px; }
.fs_elem_text_02 .description {
	position: absolute;
	top: 140px;
	left: 30px;
	line-height: 30px;
	font-size: 34px;
	color: white;
}
.fs_elem_text_02 .yellow {
	position: absolute;
	top: 230px;
	left: 30px;
	font-size: 18px;
	font-weight: 300;
}

.fs_elem_text_02 .video {
	position: absolute;
	top: 0;
	right: 0;
}
.fs_elem_text_02 .video_before {
	position: absolute;
	top: 11px;
    left: 0px;
    background: white;
	box-shadow: -8px 8px 21px rgba(61,31,21,0.45);
	-moz-box-shadow: -8px 8px 21px rgba(61,31,21,0.45);
    width: 100%;
    height: 100%;
	
    -webkit-transform: scale(1.07) rotate(4.2deg);
    -moz-transform: scale(1.07) rotate(4.2deg);
    transform: scale(1.07) rotate(4.2deg);
}
.fs_elem_text_02 .video_inner {
	position: relative;
	background: url(../img/video_splash_01.jpg) no-repeat center;
	background-size: cover;
	padding-top: 60%;
	width: 410px;
	height: auto;
}
.fs_elem_text_02 .video_progress {
	position: absolute;
	bottom: 7%;
	left: 5%;
	border-radius: 1.5px;
	background: #fcff00;
	width: 90%;
	height: 3px;
}
.fs_elem_text_02 .play {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -42px;
	margin-left: -42px;
}
.fs_elem_text_02 .video_arr {
	display: inline-block;
	position: absolute;
	background: no-repeat center;
}
.fs_elem_text_02 .video_prev_arr {
	z-index: 5;
	left: -60%;
    bottom: -10px;
	background-image: url(../img/prev_arr.png);
	width: 237px;
	height: 55px;
}
.fs_elem_text_02 .video_next_arr {
	z-index: 5;
	right: 15%;
    bottom: -35%;
	background-image: url(../img/next_arr.png);
	width: 220px;
	height: 96px;
}
.fs_elem_text_02 .button {
	position: absolute;
	z-index: 5;
	left: -30%;
    bottom: -100px;
	width: 206px;
}

@media (min-width: 1630px) {
	.fs_elem_text_02 {
		margin-left: -550px;
		width: 1100px;
	}
	.fs_elem_text_02 .video_inner { width: 470px; }
	.fs_elem_text_02 .video_prev_arr {
		left: -62%;
		bottom: 15px;
	}
	.fs_elem_text_02 .video_next_arr {
		right: 40%;
		bottom: -30%;
	}
	.fs_elem_text_02 .button { left: -38%; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.fs_elem_text_02 {
		margin-left: -415px;
		width: 830px;
	}
}
@media (max-width: 991px) {
	.mainpage_wrapper .section h2,
	.mainpage_wrapper .section .subtitle {
		top: 65px;
		font-size: 22px;
	}
	.fs_elem_text_02 .text_inner { display: none; }
	/* .fs_elem_text_02 {
		top: 35%;
		left: 10%;
		margin-left: 0;
		width: 80%;
	}
	.fs_elem_text_02 .big_percents {
		top: 0;
		font-size: 45px;
	}
	.fs_elem_text_02 .big_percents span { font-size: 70px; }
	.fs_elem_text_02 .description {
		top: 50px;
		left: 20px;
		line-height: 16px;
		font-size: 18px;
	}
	.fs_elem_text_02 .yellow {
		top: 90px;
		left: 20px;
		font-size: 13px;
	} */
	.fs_elem_text_02 .video {
		top: auto;
		right: 50%;
		bottom: 50%;
		margin-bottom: -45px;
		margin-right: -110px;
	}
	/* .fs_elem_text_02 .video {
		top: -5px;
		right: 15px;
	} */
	.fs_elem_text_02 .video_before { top: 5px; }
	.fs_elem_text_02 .video_inner { width: 220px; }
	.fs_elem_text_02 .video_prev_arr,
	.fs_elem_text_02 .video_next_arr,
	.fs_elem_text_02 .video_progress { display: none; }
	.fs_elem_text_02 .play {
		margin-top: -30px;
		margin-left: -30px;
		width: 60px;
		height: 60px;
	}
	.play:before {
		top: 21px;
		left: 27px;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 15px solid #fcff00;
	}
	.fs_elem_text_02 .button {
		left: 50%;
		bottom: -55px;
		margin-left: -70px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 140px;
		height: 35px;
		font-size: 12px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	/* .fs_elem_text_02 {
		top: 35%;
		margin-left: -300px;
		width: 600px;
	}
	.fs_elem_text_02 .big_percents { font-size: 55px; }
	.fs_elem_text_02 .big_percents span { font-size: 100px; }
	.fs_elem_text_02 .description {
		top: 75px;
		left: 20px;
		line-height: 18px;
		font-size: 20px;
	}
	.fs_elem_text_02 .yellow {
		top: 120px;
		left: 20px;
		font-size: 15px;
	} */
	.fs_elem_text_02 .video {
		top: 42%;
		bottom: auto;
		margin-right: -180px;
		margin-top: -108px;
		margin-bottom: 0;
	}
	.fs_elem_text_02 .video_inner { width: 360px; }
	/* .fs_elem_text_02 .video_prev_arr {
		left: -50%;
		bottom: 15px;
	}
	.fs_elem_text_02 .video_next_arr { right: 5%; } */
}
@media (max-width: 567px) {
	.mainpage_wrapper .section h2,
	.mainpage_wrapper .section .subtitle {
		top: 55px;
		font-size: 18px;
	}
}
@media (max-width: 479px) {
	/* .fs_elem_text_02 {
		top: 25%;
		height: 55%;
	} */
	/* .fs_elem_text_02 .text_inner {
		position: absolute;
		left: 50%;
		margin-left: -60px;
		padding-top: 50px;
		width: 120px;
	} */
	.fs_elem_text_02 .big_percents { z-index: 5; }
	.fs_elem_text_02 .description,
	.fs_elem_text_02 .yellow {
		position: relative;
		top: 0;
		left: 0;
		z-index: 10;
		margin-left: 20px;
	}
}

@media (max-height: 767px) {
	.mainpage_wrapper .section h2,
	.mainpage_wrapper .section .subtitle {
		top: 65px;
		font-size: 22px;
	}
}
@media (max-height: 479px) {
	.mainpage_wrapper .section h2,
	.mainpage_wrapper .section .subtitle {
		top: 55px;
		font-size: 18px;
	}
	.fs_elem_text_02 .video { margin-bottom: -60px; }
	.fs_elem_text_02 .button { bottom: -25px; }
}
/* @media (min-height: 568px) and (max-height: 767px) {
	.fs_elem_text_02 {
		top: 25%;
		height: 55%;
	}
	.fs_elem_text_02 .text_inner { top: 7%; }
	.fs_elem_text_02 .video {
		top: auto;
		bottom: 7%;
	}
} */

/* prudent investment
---------------------------------------------------------------------- */

.learning_slider {
	position: absolute;
	top: 28%;
	left: 50%;
	opacity: 0;
	margin-left: -180px;
	width: 320px;
	
	-webkit-transition: opacity 1s 1.5s;
	-moz-transition: opacity 1s 1.5s;
	transition: opacity 1s 1.5s;
}
.fp-viewing-2 .learning_slider { opacity: 1; }
.learning_slide {
	position: relative;
	z-index: 5;
	-moz-box-shadow: -8px 8px 6px rgba(0,0,0,0.46);
	box-shadow: -8px 8px 6px rgba(0,0,0,0.46);
	margin: 45px 0 55px 55px;
	
	-webkit-transition: box-shadow 0.6s;
	-moz-transition: -moz-box-shadow 0.6s;
	transition: box-shadow 0.6s;
}
.learning_slide:hover {
	z-index: 10;
	-moz-box-shadow: -29px 29px 49px rgba(0,0,0,0.89);
	box-shadow: -29px 29px 49px rgba(0,0,0,0.89);
}
.learning_slide_inner {
	position: relative;
	background: white;
	width: 100%;
}
.learning_slide_type {
	position: absolute;
	left: 0;
	top: -45px;
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: 45px;
	font-size: 15px;
	text-align: center;
	color: #4f7625;
}
.learning_slide .img_block {
	display: block;
	position: relative;
	background: no-repeat center;
	background-size: cover;
	width: 100%;
	height: 150px;
}
.learning_slide .img_block:before,
.learning_slide .img_block:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
}
.learning_slide .img_block:before {
	z-index: 5;
	opacity: 0;
	background: #097b3d;
	width: 100%;
	height: 100%;
	
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.learning_slide:hover .img_block:before { opacity: 0.67; }
.learning_slide .img_block:after {
	bottom: 0;
	z-index: 10;
	width: 100%;
	background: #fcff00;
	max-width: 0;
	height: 4px;
	
	-webkit-transition: max-width 0.6s;
	-moz-transition: max-width 0.6s;
	transition: max-width 0.6s;
}
.learning_slide:hover .img_block:after { max-width: 100%; }
.learning_slide .text_block {
	position: relative;
	overflow: hidden;
	padding: 20px 30px 70px;
	width: 100%;
}
.learning_slide_name {
	display: inline-block;
	overflow: hidden;
	margin: 0;
	height: 45px;
	line-height: 1.2;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.learning_slide_name a { text-decoration: none!important; }
.learning_slide_description {
	overflow: hidden;
	height: 75px;
	line-height: 1.2;
	font-size: 13px;
	text-overflow: ellipsis;
	color: #999999;
}
.learning_slide .text_block .button {
	position: absolute;
	bottom: 20px;
	left: 30px;
	padding-top: 9px;
    padding-bottom: 9px;
	min-width: 70px;
	height: 30px;
	font-size: 10px;
}

.slick-arrow {
	display: inline-block;
	position: absolute;
	top: 50%;
	z-index: 10;
	border: none;
	background: no-repeat center;
    background-size: contain;
	opacity: 0.3;
	margin-top: -23px;
	width: 26px;
	height: 46px;
	font-size: 0;
	cursor: pointer;
	
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.slick-arrow:hover { opacity: 1; }
.slick-arrow.slick-prev {
	left: 0;
	background-image: url(../img/icons/slider_prev_arr.png);
}
.slick-arrow.slick-next {
	right: 0;
	background-image: url(../img/icons/slider_next_arr.png);
}
.slick-arrow.slick-disabled { opacity: 0; }
.learning_slider .slick-arrow.slick-prev { left: 0; }
.learning_slider .slick-arrow.slick-next { right: -55px; }

@media (min-width: 1630px) {
	.learning_slider .slick-arrow.slick-prev { left: -20px; }
	.learning_slider .slick-arrow.slick-next { right: -75px; }
}
@media (min-width: 1200px) {
	.learning_slider.len2 {
		margin-left: -375px;
		width: 700px;
	}
	.learning_slider.len3 {
		margin-left: -560px;
		width: 1060px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.learning_slider {
		margin-left: -375px;
		width: 700px;
	}
	.learning_slider .slick-arrow.slick-prev { left: -20px; }
	.learning_slider .slick-arrow.slick-next { right: -75px; }
}
/* @media (max-width: 991px) {
	.learning_slider {
		margin-left: -345px;
		width: 660px;
	}
	.learning_slider .slick-arrow {
		margin-top: -14px;
		width: 15px;
		height: 28px;
	}
	.learning_slide { margin: 45px 0 55px 30px; }
	.learning_slide:hover {
		z-index: 10;
		-moz-box-shadow: -10px 20px 25px rgba(0,0,0,0.89);
		box-shadow: -10px 20px 25px rgba(0,0,0,0.89);
	}
	.learning_slider .slick-arrow.slick-next { right: -30px; }
} */
@media (max-width: 991px) {
	.learning_slider {
		margin-left: -295px;
		width: 560px;
	}
	.learning_slide {
		-moz-box-shadow: -8px 8px 6px rgba(0,0,0,0.46)!important;
		box-shadow: -8px 8px 6px rgba(0,0,0,0.46)!important;
		margin: 45px 0 15px 20px;
	}
	.learning_slide_type {
		top: -30px;
		height: 30px;
		line-height: 1;
		font-size: 12px;
	}
	.learning_slide .img_block { height: 110px; }
	.learning_slide .text_block { padding: 10px 15px 50px; }
	.learning_slide_name {
		height: 35px;
		font-size: 10px;
	}
	.learning_slide_description {
		height: 50px;
		line-height: 1.1;
		font-size: 11px;
	}
	.learning_slide .text_block .button {
		bottom: 10px;
		left: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 568px) {
	.learning_slider {
		margin-left: -120px!important;
		width: 220px!important;
	}
}
@media (max-width: 567px) {
	.learning_slide { margin-top: 30px; }
	.learning_slide .img_block { height: 90px; }
	.learning_slide_name { height: 45px; }
	.learning_slider .slick-arrow.slick-next { right: -20px; }
}

@media (max-height: 479px) {
	/* .learning_slider {
		top: 27%;
		margin-left: -160px;
		width: 300px;
	} */
	.learning_slide_type {
		top: -25px;
		height: 25px;
		font-size: 10px;
	}
	.learning_slide .img_block { display: none; }
	.learning_slide_name { height: 35px; }
	.learning_slide_description {
		height: 45px;
		line-height: 1;
	}
	.learning_slider .slick-arrow {
		top: 50%;
		margin-top: -23px;
	}
	.learning_slider .slick-arrow.slick-prev { left: -15px; }
	.learning_slider .slick-arrow.slick-next { right: -35px; }
}
@media (min-width: 568px) and (max-width: 767px) {
	.learning_slider {
		top: 23%;
		margin-left: -260px;
		width: 500px;
	}
	.learning_slider .slick-arrow.slick-prev { left: 0; }
	.learning_slider .slick-arrow.slick-next { right: 0; }
}

/* about
---------------------------------------------------------------------- */

.fs_elem_text_04 {
	top: 20%;
	left: 15px;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	margin-top: -50px;
	padding: 25px 0;
	width: 280px;
	
	-webkit-transition: margin-top 1s 1s, opacity 1s 1s;
	-moz-transition: margin-top 1s 1s, opacity 1s 1s;
	transition: margin-top 1s 1s, opacity 1s 1s;
}
.fp-viewing-3 .fs_elem_text_04 {
	margin-top: 0;
	opacity: 1;
}
.fs_elem_text_04_inner { padding: 0 25px; }
.mainpage_wrapper .section .fs_elem_text_04 h2 {
	position: static;
	margin: 0;
	padding: 0;
	font-size: 22px!important;
	text-align: left;
}
.mp_about_element { margin: 30px 0; }
.mp_about_element:last-child { margin-bottom: 0; }
.mp_about_big {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #937a61;
}
.mp_about_small {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
	color: white;
}

.experts_outer {
	position: absolute;
	top: 20%;
	right: 14%;
	opacity: 0;
	background: url(../img/experts.png) no-repeat center 30px;
	background-size: contain;
	padding-top: 405px;
	width: 580px;
	height: auto;
	
	-webkit-transition: opacity 1s 1.7s;
	-moz-transition: opacity 1s 1.7s;
	transition: opacity 1s 1.7s;
}
.fp-viewing-3 .experts_outer { opacity: 1; }
.experts_subtitle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	color: #666509;
}
.experts_element {
	position: absolute;
	bottom: -50px;
	width: 50%;
	text-align: center;
}
.experts_element:nth-child(1) { left: 0; }
.experts_element:nth-child(2) { right: 0; }
.experts_element_name {
	margin: 0;
	font-size: 24px;
	font-weight: 600;
	color: white;
}
.experts_element_btn {
	border-bottom: 1px dashed #6d6c0c;
	margin: 0;
	font-size: 13px;
	text-decoration: none!important;
	color: #6d6c0c;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	transition: border 0.3s;
}
.experts_element_btn:hover {
	border-color: transparent;
	color: #6d6c0c;
}

@media (min-width: 1630px) {
	.experts_outer { right: 24%; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.experts_outer { right: 7%; }
}
/* @media (min-width: 768px) and (max-width: 991px) {
	.fs_elem_text_04 { width: 200px; }
	.experts_outer {
		right: 9%;
		padding-top: 300px;
		width: 430px;
	}
	.experts_element_name { font-size: 20px; }
	.mp_about_element { margin: 15px 0; }
	.mp_about_big { font-size: 16px; }
	.mp_about_small { font-size: 12px; }
} */
/* @media (max-width: 991px) {
	.fs_elem_text_04 { width: 200px; }
	.experts_outer {
		top: 25%;
		right: 9%;
		padding-top: 230px;
		width: 276px;
	}
	.experts_element_name { font-size: 20px; }
	.mp_about_element { margin: 15px 0; }
	.mp_about_big { font-size: 16px; }
	.mp_about_small { font-size: 12px; }
} */
@media (max-width: 991px), (max-height: 479px) {
	.experts_subtitle {
		top: 15px;
		font-size: 20px;
	}
	/* .fs_elem_text_04 {
		top: 15%;
		padding: 10px 0;
		width: 230px;
		height: 120px;
		left: 50%;
		margin-left: -115px;
	} */
	.fs_elem_text_04 { display: none; }
	.fs_elem_text_04_inner {
		overflow-y: auto;
		height: 100%;
	}
	.experts_outer {
		top: 50%;
		right: 50%;
		bottom: auto;
		margin-top: -175px;
		margin-right: -200px;
		padding-top: 350px;
		width: 400px;
	}
	.experts_element { bottom: 15px; }
	.experts_element_name {
		margin-bottom: 15px;
		padding: 0 10px;
		font-size: 16px;
		text-shadow: 0 0 15px black;
		line-height: 1;
	}
	.mp_about_element { margin: 15px 0; }
	.mp_about_big { font-size: 16px; }
	.mp_about_small { font-size: 12px; }
}
@media (max-width: 767px) {
	.experts_outer {
		margin-top: -95px;
		margin-right: -107px;
		padding-top: 190px;
		width: 215px;
	}
}
@media (max-width: 767px), (max-height: 767px) {
	.fs_elem_04 {
		background-image: url(../img/index_bg_04_sm.jpg)!important;
	}
}

/* @media (min-height: 1024px) {
	.fs_elem_text_04,
	.experts_outer { top: 25%; }
} */
@media (max-height: 767px) {
	.fs_elem_text_04 { top: 18%; }
/* 	.experts_outer { bottom: 20%; } */
}
@media (max-height: 567px) {
	.fs_elem_text_04 { top: 15%; }
	/* .experts_outer { bottom: 12%; } */
}
@media (max-height: 479px) {
	/* .fs_elem_text_04 {
		top: 35%;
		left: 7%;
		margin-left: 0;
		width: 175px;
	} */
	.fs_elem_text_04_inner { padding: 0 15px; }
}

/* new matherials
---------------------------------------------------------------------- */

.fs_elem_05_nav_outer {
	left: 0;
	top: 23%;
	opacity: 0;
	margin-top: -50px;
	padding: 0 15px;
	width: 100%;
	
	-webkit-transition: margin-top 1s 1.5s, opacity 1s 1.5s;
	-moz-transition: margin-top 1s 1.5s, opacity 1s 1.5s;
	transition: margin-top 1s 1.5s, opacity 1s 1.5s;
}
.fp-viewing-4 .fs_elem_05_nav_outer {
	margin-top: 0;
	opacity: 1;
}
.fs_elem_05_nav_outer .button {
	padding-top: 12px;
    padding-bottom: 12px;
	/* width: 165px; */
	height: 40px;
	font-size: 13px;
}
.fs_elem_05_nav {
	top: 0;
	right: 15px;
	margin: 0;
    padding: 0 20px;
	width: 500px;
}
.fs_elem_05_nav li {
	border: 1px solid transparent;
	border-radius: 6px;
	padding: 0 10px;
	margin-right: 5px;
	margin-bottom: 0;
	height: 40px;
	line-height: 36px;
	font-size: 14px;
	color: white;
	cursor: pointer;
	
	-webkit-transition: border 0.3s, color 0.3s;
	-moz-transition: border 0.3s, color 0.3s;
	transition: border 0.3s, color 0.3s;
}
.fs_elem_05_nav li:hover { color: #00aa4f; }
.fs_elem_05_nav li:last-child { margin-right: 0; }
.fs_elem_05_nav li.opened {
	border-color: white;
	color: white;
}
.fs_elem_05_nav .slick-arrow {
	margin-top: -9px;
	width: 10px;
	height: 18px;
}
.fs_elem_05_nav .slick-next {
	background-image: url(../img/icons/slider_next_arr_sm.png);
}
.fs_elem_05_nav .slick-prev {
	background-image: url(../img/icons/slider_prev_arr_sm.png);
}

.matherials_slider_outer {
	opacity: 0;
	
	-webkit-transition: opacity 1s 2s;
	-moz-transition: opacity 1s 2s;
	transition: opacity 1s 2s;
}
.fp-viewing-4 .matherials_slider_outer { opacity: 1; }
.matherials_slider {
	top: 30%;
    left: -20px;
	z-index: 10;
	padding-right: 30px;
	width: 100%;
	max-width: 1130px;
	height: 410px;
	overflow: hidden;
	
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
.matherials_slider.hdn {
	z-index: 5;
	opacity: 0;
	max-width: 0;
	
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.matherials_slider .mCSB_outside+.mCSB_scrollTools {
	right: 0;
	opacity: 0;
}
.matherials_slider_outer:hover .mCSB_outside+.mCSB_scrollTools,
.matherials_slider .mCSB_outside+.mCSB_scrollTools:hover { opacity: 1; }
.matherials_slide {
	overflow: hidden;
	width: 20%;
	float: left;
	
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.matherials_slider:after,
.matherials_slide:after {
	content: '';
	display: block;
	clear: both;
}
.matherials_slide_inner {
	background: transparent;
	margin-bottom: 30px;
	padding: 20px;
	width: 206px;
	float: right;
	
	-webkit-transition: background 0.6s, box-shadow 0.6s;
	-moz-transition: background 0.6s, -moz-box-shadow 0.6s;
	transition: background 0.6s, box-shadow 0.6s;
}
.matherials_slide_inner:hover {
	background: #0e301b;
	-moz-box-shadow: -7px 10px 14px rgba(0,0,0,0.36);
	box-shadow: -7px 10px 14px rgba(0,0,0,0.36);
}
.matherials_slide_inner .img_block {
	display: block;
	position: relative;
	background: no-repeat center;
	background-size: cover;
	-moz-box-shadow: -8px 8px 11px rgba(0,0,0,0.55);
	box-shadow: -8px 8px 11px rgba(0,0,0,0.55);
	margin: 0 auto 25px;
	padding-top: 100%;
	width: 100%;
	height: auto;
}
.matherials_slide_inner .img_block:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/before.png) center;
	width: 100%;
	height: 100%;
}
.matherials_slide_name {
	overflow: hidden;
    margin-bottom: 0;
    height: 51px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.matherials_slide_name a {
	text-decoration: none!important;
	color: white;
}
.matherials_slide_name a:hover { color: #00aa4f; }
.matherials_slide_description,
.matherials_slide_date {
	overflow: hidden;
	line-height: 1;
	font-size: 11px;
	text-decoration: none!important;
	color: #758663;
}
.matherials_slide_description {
	margin-bottom: 10px;
    height: 68px;
}
.matherials_slide_date { margin: 0; }

@media (min-width: 1630px) {
	.matherials_slider {
		left: 50%;
		margin-left: -550px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.matherials_slider { left: -40px; }
	.matherials_slide { width: 25%; }
}
/* @media (min-width: 768px) and (max-width: 991px) {
	.matherials_slider { left: -50px; }
	.matherials_slide { width: 33.333333%; }
} */

.mobile .matherials_slider .mCSB_outside+.mCSB_scrollTools,
.tablet .matherials_slider .mCSB_outside+.mCSB_scrollTools { opacity: 1!important; }

@media (max-width: 991px) {
	.fs_elem_05_nav_outer { top: 20%; }
	.fs_elem_05_nav_outer { text-align: center; }
	.fs_elem_05_nav_outer .button {
		padding-top: 11px;
		padding-bottom: 11px;
		width: 100px;
		height: 35px;
		font-size: 11px;
	}
	.fs_elem_05_nav { display: none; }
	/* .fs_elem_05_nav { width: 300px; }
	.fs_elem_05_nav li {
		height: 35px;
		line-height: 31px;
		font-size: 11px;
	} */
	.matherials_slider {
		left: 50%;
		margin-left: -225px;
		width: 480px;
		height: 325px;
	}
	.matherials_slide { width: 50%; }
	.matherials_slide_inner {
		-moz-box-shadow: none!important;
		box-shadow: none!important;
		padding: 15px;
	}
	.matherials_slide_inner .img_block { margin-bottom: 15px; }
	.matherials_slide_description { height: 55px; }
}
@media (min-width: 768px) and (max-width: 991px) {
	.matherials_slider { height: 270px; }
	.matherials_slide_inner .img_block {
		margin-bottom: 15px;
		padding-top: 60%;
		width: 60%;
	}
}
@media (max-width: 567px) {
	.fs_elem_05_nav_outer { text-align: center; }
	.matherials_slider {
		top: 37%;
		margin-left: -125px!important;
		width: 240px!important;
		height: 235px;
	}
	.matherials_slide { width: 100%!important; }
	.matherials_slider:last-child .matherials_slide_inner { margin-bottom: 0 }
	.matherials_slide_inner .img_block { display: none; }
	.matherials_slide_name {
		height: 35px;
		font-size: 11px;
	}
	.matherials_slide_description { height: 45px; }
}

@media (max-height: 479px) {
	.fs_elem_05_nav_outer { top: 33%; }
	.fs_elem_05_nav { right: 45px; }
	.fs_elem_05_nav_outer .button {
		padding-top: 8px;
		padding-bottom: 8px;
		height: 30px;
		font-size: 11px;
	}
	.fs_elem_05_nav li {
		height: 30px;
		line-height: 26px;
	}
	.matherials_slider {
		top: 43%;
		margin-left: -205px;
		width: 400px;
		height: 120px;
	}
	.matherials_slide { width: 50%; }
	.matherials_slide_inner {
		padding: 10px 15px;
		width: 100%; 
	}
	.matherials_slide_inner .img_block { display: none; }
}

/* reviews
---------------------------------------------------------------------- */

.reviews_slider {
	top: 25%;
    left: 50%;
	opacity: 0;
    margin-left: -430px;
    width: 810px;
	
	-webkit-transition: opacity 1s 1.5s;
	-moz-transition: opacity 1s 1.5s;
	transition: opacity 1s 1.5s;
}
.fp-viewing-5 .reviews_slider { opacity: 1; }
.reviews_slide { padding-left: 40px; }
.reviews_slide .img_block {
	position: relative;
	margin-bottom: 20px;
	margin-right: 35px;
}
.reviews_slide .img_block_inner {
	display: block;
	border-radius: 50%;
	background: no-repeat center;
	background-size: cover;
	-moz-box-shadow: -8px 8px 24px rgba(0,0,0,0.23);
	box-shadow: -8px 8px 24px rgba(0,0,0,0.23);
	padding-top: 100%;
	width: 100%;
	height: auto;
	
	-webkit-transition: box-shadow 0.6s;
	-moz-transition: -moz-box-shadow 0.6s;
	transition: box-shadow 0.6s;
}
.reviews_slide .img_block:hover .img_block_inner {
	-moz-box-shadow: -20px 20px 46px rgba(0,0,0,0.84);
	box-shadow: -20px 20px 46px rgba(0,0,0,0.84);
}
.reviews_slide .img_block .play {
	position: absolute;
	top: 50%;
	right: -33px;
	background: #00aa4f; 
	margin-top: -33px;
	width: 66px;
	height: 66px;
	
	-webkit-transform: none!important;
	-moz-transform: none!important;
	transform: none!important;
}
.reviews_slide .img_block .play:hover { background: #1b1c1c; }
.reviews_slide .img_block .play:before {
	top: 20px;
    left: 28px;
}
.reviews_slide_name {
	overflow: hidden;
	margin: 0;
	height: 27px;
	font-size: 20px;
	font-weight: 500;
	color: white;
}
.reviews_slide_post {
	overflow: hidden;
	margin: 0;
	height: 27px;
	font-size: 13px;
	color: #fb9a00;
}
.reviews_slide_description {
	overflow: hidden;
	margin-bottom: 10px;
	height: 90px;
	font-size: 13px;
	color: #999999;
}
.reviews_slide .text_block .more {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none!important;
	color: #999999;
}
.reviews_slide .text_block .more:hover { color: #00aa4f; }
.reviews_slider .slick-arrow.slick-prev { left: -10px; }
.reviews_slider .slick-arrow.slick-next { right: -45px; }

@media (min-width: 1200px) {
	.reviews_slider {
		margin-left: -580px;
		width: 1080px;
	}
}
/* @media (min-width: 768px) and (max-width: 991px) {
	.reviews_slider {
		margin-left: -290px;
		width: 550px;
	}
} */
@media (max-width: 991px) {
	.reviews_slider {
		margin-left: -220px;
		width: 410px;
	}
	.reviews_slide .img_block { margin-bottom: 15px; }
	.reviews_slide .img_block .play {
		right: -25px;
		margin-top: -25px;
		width: 50px;
		height: 50px;
	}
	.reviews_slide .img_block .play:before {
		top: 16px;
		left: 21px;
	}
	.reviews_slide_name {
		height: 22px;
		font-size: 14px;
	}
	.reviews_slide_post {
		height: 23px;
		font-size: 11px;
	}
	.reviews_slide_description {
		margin: 0;
		height: 75px;
		font-size: 11px;
		line-height: 1;
	}
}
@media (max-width: 567px) {
	.reviews_slider {
		margin-left: -130px;
		width: 200px;
	}
	.reviews_slide_description { height: 80px; }
}

@media (max-width: 767px), (max-height: 767px) {
	.fs_elem_06 {
		background-image: url(../img/index_bg_06_sm.jpg)!important;
	}
}

@media (max-height: 399px) {
	.reviews_slider {
		top: 35%;
		margin-left: -220px;
		width: 380px;
	}
	.reviews_slide .img_block {
		width: 130px;
		height: 130px;
		float: left;
	}
	.reviews_slide .img_block_inner {
		-moz-box-shadow: -8px 8px 24px rgba(0,0,0,0.23)!important;
		box-shadow: -8px 8px 24px rgba(0,0,0,0.23)!important;
	}
	.reviews_slider .slick-arrow.slick-prev { left: -5px; }
	.reviews_slider .slick-arrow.slick-next { right: -40px; }
}

/* gift
---------------------------------------------------------------------- */

.fs_subscribe_form {
	top: 40%;
	left: 10%;
	opacity: 0;
	background: url(../img/form_bg.jpg) center;
	padding: 50px 30px;
	width: 80%;
	
	-webkit-transition: opacity 1s 1.5s;
	-moz-transition: opacity 1s 1.5s;
	transition: opacity 1s 1.5s;
}
.fp-viewing-6 .fs_subscribe_form { opacity: 1; }
.fs_subscribe_form_text {
	position: absolute;
	top: -70px;
	left: 0;
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: white;
}
.fs_subscribe_form .form_element { margin: 0; }
.fs_subscribe_form .row { margin: 0 -6px; }
.fs_subscribe_form .col { padding: 0 6px; }
.fs_subscribe_form input[type="text"] {
	border-radius: 0;
	padding: 0 15px;
	height: 45px;
	font-size: 14px;
	text-transform: uppercase;
}
.fs_subscribe_form input[type="text"]:hover,
.fs_subscribe_form input[type="text"]:focus {
	border-color: #00aa4f;
	-moz-box-shadow: inset -3px 3px 4px rgba(0,0,0,0.53), 0 0 0 1px #00aa4f;
	box-shadow: inset -3px 3px 4px rgba(0,0,0,0.53), 0 0 0 1px #00aa4f;
}
.fs_subscribe_form input[type="text"]::-webkit-input-placeholder { font-size: 14px; color: #909090; }
.fs_subscribe_form input[type="text"]::-moz-placeholder { font-size: 14px; color: #909090; }
.fs_subscribe_form input[type="text"]:-moz-placeholder { font-size: 14px; color: #909090; }
.fs_subscribe_form input[type="text"]:-ms-input-placeholder { font-size: 14px; color: #909090; }
.fs_subscribe_form input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }
.fs_subscribe_form input[type="text"]:focus::-moz-placeholder { color: transparent; }
.fs_subscribe_form input[type="text"]:focus:-moz-placeholder { color: transparent; }
.fs_subscribe_form input[type="text"]:focus:-ms-input-placeholder { color: transparent; }
.fs_subscribe_form .form_element .placeholder {
    top: 3px;
    left: 15px;
}
.fs_subscribe_form .form_element span.error { left: 15px; }
.fs_subscribe_form .button {
    position: absolute;
	bottom: -110px;
	left: 50%;
	margin-left: -103px;
	width: 206px;
}

.fs_elem_07 .available {
	display: inline-block;
	right: 15px;
	bottom: 17%;
	width: 312px;
	height: 153px;
	background: url(../img/available_to_everyone_02.png) no-repeat center;
	background-size: contain;
}

.fp-viewing-6 .bottom_elements { bottom: -50%; }
.fp-viewing-6 .footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}
.fp-viewing-6 .footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

@media (max-width: 991px) {
	.fs_elem_07 h2 { display: none; }
	.fs_subscribe_form {
		top: 40%;
		left: 15%;
		padding: 15px;
		width: 70%;
	}
	.fs_subscribe_form_text {
		left: -20%;
		top: -35px;
		width: 140%;
		font-size: 12px;
	}
	.fs_subscribe_form input[type="text"] {
		padding: 0 10px;
		height: 30px;
		font-size: 11px;
	}
	.fs_subscribe_form span.error { left: 10px; }
	.fs_subscribe_form .form_element .placeholder {
		top: 1px;
		left: 10px;
		font-size: 10px;
	}
	.fs_subscribe_form .button {
		bottom: -45px;
		margin-left: -75px;
		width: 150px;
		height: 35px;
		font-size: 12px;
	}
	.fs_elem_07 .available { display: none; }
}
@media (max-width: 767px) {
	.fs_subscribe_form { top: 30%; }
	.fs_subscribe_form .col { margin-bottom: 12px; }
	.fs_subscribe_form .col:last-child { margin-bottom: 0; }
}


/* mainpage modals
----------------------------------------------------------------- */

.fp-enabled .modal-backdrop {
	background-color: #00aa4f;
}
.fp-enabled .modal-content {
	background-color: #0d1214;
	padding: 20px 65px 30px;
}
.fp-enabled .modal-header { padding: 15px 0; }
.fp-enabled .modal-header h2,
.fp-enabled .modal-title {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	color: white;
}
.fp-enabled .close {
	right: 20px;
	background-image: url(../img/icons/close_sm.png);
	width: 15px;
	height: 15px;
}
.fp-enabled .close:hover {
	background-image: url(../img/icons/close_sm_hover.png);
}
.fp-enabled .fancybox-close {
	top: 0;
	right: 0;
	background: url(../img/icons/close_sm.png) no-repeat center black;
	width: 25px;
	height: 25px;
	
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}
.fp-enabled .fancybox-close:hover {
	background: url(../img/icons/close_sm_hover.png) no-repeat center rgba(13,18,20,0.7);
}
.fp-enabled .modal-body {
	font-size: 14px;
	color: #c9caca;
}
.fp-enabled .modal-body a { color: #c9caca; }
.fp-enabled .modal-body a:hover { color: #00aa4f; }

.fp-enabled .modal-body .form_element { margin-bottom: 10px; }
.fp-enabled .modal-body input[type="text"],
.fp-enabled .modal-body input[type="password"],
.fp-enabled .modal-body textarea {
	border-color: #252525;
	background-color: #252525;
	
	-webkit-transition: border 0.3s, background 0.3s;
	-moz-transition: border 0.3s, background 0.3s;
	transition: border 0.3s, background 0.3s;
}
.fp-enabled .modal-body input[type="text"]:focus,
.fp-enabled .modal-body input[type="password"]:focus,
.fp-enabled .modal-body textarea:focus,
.fp-enabled .form_element.not_empty input[type="text"],
.fp-enabled .form_element.not_empty input[type="password"],
.fp-enabled .form_element.not_empty textarea {
	border-color: #038b26;
	background-color: white;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}

#popup_login .button { margin-top: 0; }
#popup_login .font_12.light {
	margin-right: 10px;
	text-decoration: none;
	line-height: 50px;
}
#popup_login .font_12.light:last-child { margin-right: 0; }
.header_signup_passwords {
	background: #151b1d;
	margin: 30px 0 20px;
	padding: 10px 15px;
}
#popup_join .font_12.light {
	width: 120%;
    margin-left: -10%;
}
.header_signup_passwords {
	background: #151b1d;
	margin: 30px 0 20px;
	padding: 10px 15px;
}

.about_investor_table {
	display: table;
	margin-bottom: 30px;
	width: 100%;
}
.about_investor_table .col {
	display: table-cell;
	width: 50%;
}
.about_investor_table .img_col { vertical-align: top; }
.about_investor_table .investor_img {
	display: block;
	border-radius: 50%;
	background: no-repeat center top;
	background-size: cover;
	padding-top: 100%;
	width: 100%;
	height: auto;
}
.about_investor_table .name_col {
	padding-left: 20px;
	vertical-align: middle;
}
.about_investor_table .name_col .modal-title {
    line-height: 1;
	font-size: 30px;
	text-align: left;
}

.popup_download_name {
	display: table;
	border-top: 1px solid #038b26;
	border-bottom: 1px solid #038b26;
	margin-bottom: 30px;
	padding: 20px 0;
	width: 100%;
}
.popup_download_name .col { display: table-cell; }
.popup_download_name .img_col {
	width: 60px;
	vertical-align: top;
}
.popup_download_name .popup_download_img {
	background: no-repeat center top;
	background-size: cover;
	padding-top: 100%;
	width: 100%;
	height: auto;
}
.popup_download_name .text_col {
	padding-left: 20px;
	vertical-align: middle;
	font-size: 22px;
	font-weight: 300;
	color: #c9caca;
}

@media (max-width: 767px) {
	.fp-enabled .modal-dialog { width: 90%!important; }
	#popup_login .font_12.light { line-height: 1; }
}
@media (max-width: 479px) {
	.fp-enabled .modal-content { padding: 15px 20px 20px; }
}

#popup_close .modal-content {
	padding:0;
}
#popup_close .modal-body {
	padding:20px;
}