#DTable thead{
	background-color: #ffffff;

}
#DTable thead tr:first-child th{
border-top: 1px dashed #ccc;
position: relative;
padding-bottom: 130px;
}
#DTable.period_nofilter thead tr:first-child th{
 padding-bottom: 10px;
}

.fixedHeader-floating tr:first-child th{
position: relative;
padding-bottom: 130px;
background-position: right 20px;
}
.fixedHeader-floating{
	box-shadow: 0 0 27px 5px rgba(80,80,80,0.6);
	}

#DTable_wrapper .top>div,
#DTable_wrapper .bottom>div{
	margin:5px;
	display: flex;
}
#DTable thead tr:first-child th{
	background-position: right 20px;
}

.row_use_dollars,
.row_use_dollars td{
	background-color: #FFFFCC !important;
}

.row_from_last_period,
.row_from_last_period td{
	background-color: #FFEBFF !important;
}