@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oub9um');
  src:  url('fonts/icomoon.eot?oub9um#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oub9um') format('truetype'),
    url('fonts/icomoon.woff?oub9um') format('woff'),
    url('fonts/icomoon.svg?oub9um#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fire:before {
  content: "\e92b";
}
.icon-like:before {
  content: "\e92c";
  color: #134563;
}
.icon-dislike:before {
  content: "\e92d";
  color: #134563;
}
.icon-calculator:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-attention:before {
  content: "\e921";
}
.icon-question:before {
  content: "\e91f";
}
.icon-doc_list:before {
  content: "\e923";
}
.icon-doc:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e91d";
}
.icon-linear_arr_down:before {
  content: "\e903";
}
.icon-linear_arr_left:before {
  content: "\e904";
}
.icon-linear_arr_right:before {
  content: "\e905";
}
.icon-linear_arr_up:before {
  content: "\e906";
}
.icon-attach:before {
  content: "\e907";
}
.icon-dollar:before {
  content: "\e916";
}
.icon-play:before {
  content: "\e917";
}
.icon-star:before {
  content: "\e914";
}
.icon-star_empty:before {
  content: "\e915";
}
.icon-inst:before {
  content: "\e922";
}
.icon-lj_reverse:before {
  content: "\e908";
}
.icon-lj:before {
  content: "\e909";
}
.icon-yt:before {
  content: "\e910";
}
.icon-gp:before {
  content: "\e90c";
}
.icon-fb:before {
  content: "\e90d";
}
.icon-tw:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
.icon-ok:before {
  content: "\e92a";
}
.icon-telegram:before {
  content: "\e91e";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-comment:before {
  content: "\e90b";
}
.icon-arr_down:before {
  content: "\e911";
  color: #00aa4f;
}
.icon-arr_left:before {
  content: "\e912";
  color: #00aa4f;
}
.icon-arr_right:before {
  content: "\e913";
  color: #00aa4f;
}
.icon-arr_up:before {
  content: "\e918";
  color: #00aa4f;
}
.icon-eye_thin:before {
  content: "\e925";
}
.icon-download2:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e924";
}
.icon-portfolio:before {
  content: "\e91a";
}
.icon-presentation:before {
  content: "\e91b";
}
.icon-star_rounded:before {
  content: "\e91c";
}
.icon-user:before {
  content: "\e926";
}
.icon-chart:before {
  content: "\e927";
}
.icon-foulder:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
