 {
	outline: none!important;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
*:active,
*:focus { outline: none!important; }
body, html { margin: 0; padding: 0; width: 100%; min-width: 300px; min-height: 320px; overflow-x: hidden;}
body {
	background: white;
	width: 100%;
	/* height: 100%; */
	line-height: 1.2;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 400;
	overflow-x: hidden;
	color: #87959a;
}
/* body.modal-open { position: fixed; } */

h1, .title {
	margin: 0 0 15px;
	padding: 0;
	line-height: 1;
	font-size: 24px;
	font-weight: 700;
	color: #333333;
}
h2, .subtitle {
	margin: 0 0 15px;
	padding: 0;
	font-size: 28px;
	font-weight: 400;
	color: #383838;
}

h3, .h3 {
	margin: 0 0 15px;
	font-size: 14px;
	font-weight: 500;
	color: #7e7e7e;
}

p {
	margin-bottom: 20px;
	line-height: 1.3;
	font-size: 16px;
	color: #383838;
}

hr { border-top: 1px solid #dededf; }

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: underline;
	color: #333333;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
a.inherit { color: inherit; }
a:hover,
a:focus { color: #00aa4f; }

.dashed_link {
	display: inline-block;
	border-bottom: 1px dashed #6a6b6f;
	font-size: 12px;
	color: #6a6b6f;
	cursor: pointer;
	transition: all 0.3s;
}
.dashed_link:hover {
	border-bottom-color: #00aa4f;
	color: #00aa4f;
}

ul, ol {
	counter-reset: li;
	display: inline-block;
	padding-left: 0;
	list-style: none;
}
li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 35px;
	font-size: 16px;
	color: #383838;
}
ul li:before {
	content: '';
	top: 3px;
	left: 2px;
	background: #00aa4f;
	width: 12px;
	height: 12px;
}
ol li:before {
	content: counter(li);
  counter-increment: li;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0;
	color: #00aa4f;
}
ol ul li:before {
	content: '';
  top: 3px!important;
}

.icon { display: inline-block; }
.icon:before { color: inherit; }

.bg-realtmp{
	background-color: #edd1ff;
}

.table-pivot tr td:not(:first-child){
	min-width: 150px;
}
.button {
	display: inline-block;
	border: 1px solid #00aa4f;
	border-radius: 6px;
	background: #00aa4f;
	padding: 0 10px;
	width: auto;
	min-width: 130px;
	max-width: 100%;
	height: 50px;
	font-size: 14px;
	text-align: center;
	text-decoration: none!important;
	text-transform: uppercase;
	color: white;
	cursor: pointer;

	transition: border-color 0.3s, background 0.3s, color 0.3s;
	-webkit-transition: border-color 0.3s, background 0.3s, color 0.3s;
	-moz-transition: border-color 0.3s, background 0.3s, color 0.3s;
}
.button:hover {
	border-color: #00c75d;
	background: #00c75d;
	color: white;
}
.button:active,
.button:focus {
	border-color: #019a48;
	background: #019a48;
	color: white;
}
.button.button_old {
	border: 2px solid #545d4f;
	border-radius: 20px;
	background: transparent;
	padding-top: 0;
	padding-bottom: 0;
	min-width: 146px;
	height: 40px;
	line-height: 36px;
	font-size: 14px;
	color: #545d4f;
}
.button.button_old:hover {
	border-color: #aed200;
	color: #333333;
}
.button.button_old:active,
.button.button_old:focus {
	border-color: #aed200;
	background: #aed200;
	color: #333333;
}
.button.button_transparent {
	border: 1px solid white;
	background: transparent;
	font-size: 14px;
	color: white;
}
.button.button_transparent:hover {
	border-color: #00aa4f;
	color: #00aa4f;
}
.button.button_transparent:active,
.button.button_transparent:focus {
	border-color: #00aa4f;
	background: #00aa4f;
	color: white;
}
.button.button_gray_transparent {
	border: 1px solid #e8e8e8;
	background: transparent;
	font-size: 14px;
	color: #a9a9a9;
}
.button.button_gray_transparent:hover {
	border-color: #00aa4f;
	color: #00aa4f;
}
.button.button_gray_transparent:active,
.button.button_gray_transparent:focus {
	border-color: #00aa4f;
	background: #00aa4f;
	color: white;
}
.button.button_orange {
	border: 1px solid #ff9c00;
	background: #ff9c00;
}
.button.button_orange:hover {
	border-color: #ffbc00;
	background: #ffbc00;
}
.button.button_orange:active,
.button.button_orange:focus {
	border-color: #d88400;
	background: #d88400;
}
.button.button_white {
	border: 1px solid white;
	background: white;
	color: #00aa4f;
}
.button.button_white:hover {
	border-color: #f5f5f5;
	background: #f5f5f5;
	color: #00aa4f;
}
.button.button_white:active,
.button.button_white:focus {
	border-color: #dcdcdc;
	background: #dcdcdc;
	color: #00aa4f;
}
.button.button_green_transparent {
	border: 2px solid #00aa4f;
	background: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
	color: #00aa4f;
}
.button.button_green_transparent:hover {
	border-color: #00aa4f;
	background: #00aa4f;
	color: white;
}
.button.button_green_transparent:active,
.button.button_green_transparent:focus {
	border-color: #019a48;
	background: #019a48;
	color: white;
}
.button.button_rounded_green {
	border: 2px solid #ace616;
	border-radius: 27px;
	background: #ace616;
  padding-top: 15px;
  padding-bottom: 15px;
	height: 55px;
	min-width: 220px;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: #545d4f;
}
.button.button_rounded_green:hover {
	border-color: #c6fb3d;
	background: #c6fb3d;
	color: #545d4f;
}
.button.button_rounded_green:active,
.button.button_rounded_green:focus {
	border-color: #98d006;
	background: #98d006;
	color: #545d4f;
}

.link_arrow {
	display: inline-block;
	position: relative;
    margin-right: 25px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none!important;
	color: #333333;
}
.link_arrow:hover { color: ##00aa4f; }
.link_arrow:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 3px;
	right: -15px;
	background: url(../img/icons/arr_right.svg) no-repeat center;
	background-size: contain;
    width: 8px;
    height: 15px;
	color: #f5b400;

	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	transition: right 0.3s;
}
.link_arrow:hover:after { right: -20px; }

a.button,
span.button {
	padding-top: 16px;
	padding-bottom: 16px;
}
input.button { border: none; }

blockquote {
	border: none;
	background: url(../img/icons/quote_left.png) no-repeat left top,
				url(../img/icons/quote_right.png) no-repeat right bottom;
	padding: 5px 35px 13px;
	font-size: 13px;
	color: #333333;
}

.form_element {
	position: relative;
	margin-bottom: 25px;
}
.form_element.textarea_element {
	font-size: 0;
}
.intl-tel-input { width: 100%; }

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	position: relative;
	border: 1px solid #d7dce0;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	font-size: 20px;
	color: #333333;

	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	-moz-transition: border 0.3s, -moz-box-shadow 0.3s;
	transition: border 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
	border-color: #6ab50f;
	-webkit-box-shadow: inset 0 0 1px 2px #b8d10f;
	-moz-box-shadow: inset 0 0 1px 2px #b8d10f;
	box-shadow: inset 0 0 1px 2px #b8d10f;
}
input[type="text"],
input[type="password"],
input[type="number"] { height: 55px; }
textarea {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 200px;
	resize: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
textarea::-moz-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
textarea:-moz-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {font-size:16px; color: #757575; transition:color 0.3s;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;}
input[type="text"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color: transparent;}
input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
input[type="number"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {color: transparent;}
input[type="text"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
input[type="number"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {color: transparent;}
input[type="text"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
input[type="number"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {color: transparent;}

.smart_txt_field {
	position: relative;
	z-index: 10;
	background: transparent!important;
}
.pseudo_placeholder {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	padding: 0 20px;
	height: inherit;
	line-height: inherit;
  font-size: 20px;
  text-align: left;
  color: #333333;
	transition: all 0.3s;
}
.pseudo_placeholder.focus {
	background-color: white;
}
input[type="text"].smart_txt_field::-moz-placeholder,
input[type="text"].smart_txt_field:focus::-moz-placeholder {
	display: inline-block!important;
  font-size: 20px;
  color: #333333;
}
input[type="text"].smart_txt_field:-moz-placeholder,
input[type="text"].smart_txt_field:focus:-moz-placeholder {
	display: inline-block!important;
  font-size: 20px;
  color: #333333;
}
input[type="text"].smart_txt_field:-ms-input-placeholder,
input[type="text"].smart_txt_field:focus:-ms-input-placeholder {
	display: inline-block!important;
  font-size: 20px;
  color: #333333;
}




.outer {
	position: relative;
	left: 0;
	overflow: hidden;

	-webkit-transition: left 0.6s;
	-moz-transition: left 0.6s;
	transition: left 0.6s;
}
.outer.opened { left: 150px; }

.dib { display: inline-block; }

.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }


.t7 { font-size: 7px; }
.t8 { font-size: 8px; }
.t9 { font-size: 9px; }
.t10 { font-size: 10px; }
.t12 { font-size: 12px; }
.t14 { font-size: 14px; }
.t18 { font-size: 18px; }
.t20 { font-size: 20px; }
.t22 { font-size: 22px; }
.t24 { font-size: 24px; }
.t26 { font-size: 26px; }
.t28 { font-size: 28px; }
.t34 { font-size: 34px; }
.t60 { font-size: 60px; }
.t100 { font-size: 100px; }

.light { font-weight: 300; }
.medium { font-weight: 500; }
.strong { font-weight: 700; }

.uppercase { text-transform: uppercase; }

.no_decoration { text-decoration: none!important; }

.lh0_8 { line-height: 0.8; }
.lh1 { line-height: 1; }

.m0 { margin: 0; }
.mtb20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mtb30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt-40 { margin-top: -40px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mb-20 { margin-bottom: -20px; }
.mb-40 { margin-bottom: -40px; }

.relative { position: relative; }

/* ------------------------------------------------------------------ */
/* ----------------------------- ICONS ------------------------------ */
/* ------------------------------------------------------------------ */

.icon_scroll {
	display: inline-block;
	background: url(../img/icons/scroll.png) no-repeat center;
	width: 22px;
	height: 33px;
	cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* ---------------------------- HEADER ------------------------------ */
/* ------------------------------------------------------------------ */
body{
	background:#F2F2F2;
	margin-top: 90px;
	margin-bottom: 90px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;

	-webkit-transition: border 0.6s, background 0.6s;
	-moz-transition: border 0.6s, background 0.6s;
	transition: border 0.6s, background 0.6s;
}


.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	background: url(../img/header_bg.png) center;
	width: 100%;
	height: 100%;

	-webkit-transition: border 0.6s, background 0.6s, opacity 0.6s;
	-moz-transition: border 0.6s, background 0.6s, opacity 0.6s;
	transition: border 0.6s, background 0.6s, opacity 0.6s;
}
.header .container {
	position: relative;
	z-index: 10;
}
.header .row {
	margin: 0;
	width: 100%;
	min-height: 50px;
	height: auto;

	-webkit-transition: min-height 0.6s;
	-moz-transition: min-height 0.6s;
	transition: min-height 0.6s;
}
.header .col {
	padding: 0;
	height: 100%;
}
.logo {
	position: absolute;
	top: 11px;
	left: 0;
	width: 150px;
	font-size: 38px;
	font-weight: 700!important;
	text-decoration: none!important;
	color: #00aa4f;

	-webkit-transition: top 0.6s;
	-moz-transition: top 0.6s;
	transition: top 0.6s;
}
.logo span {
	display: inline-block;
	position: relative;
	padding-bottom: 6px;
}
.logo span:after {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fcff00;
	width: 60px;
	height: 4px;
}
.main_menu {
	display: inline-block;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 60px;
	vertical-align: top;
	font-size: 0;
	text-align: center;

	-webkit-transition: top 0.6s, min-height 0.6s;
	-moz-transition: top 0.6s, min-height 0.6s;
	transition: top 0.6s, min-height 0.6s;
}
.main_menu li {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 13px;
}
.main_menu li:last-child { margin-right: 0; }
.main_menu li.active { font-weight: 700; }
.main_menu li:before { display: none; }
.main_menu a {
	display: inline-block;
	position: relative;
	border: 1px solid transparent;
	background: transparent;
	padding: 0 8px;
	height: 100%;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;

	-webkit-transition: border 0.3s, background 0.6s, color 0.3s, line-height 0.6s;
	-moz-transition: border 0.3s, background 0.6s, color 0.3s, line-height 0.6s;
	transition: border 0.3s, background 0.6s, color 0.3s, line-height 0.6s;
}
.main_menu li.active a,
.main_menu a:hover {
	background: #00aa4f;
	color: white;
}

.header_user {
	position: absolute;
  top: 15px;
  right: 120px;
  font-size: 34px;
  text-decoration: none!important;
  color: white;
	transition: all 0.3s, top 0.6s;
}
.login_btn.button {
	position: absolute;
	top: 11px;
	right: 0;
	padding-top: 12px;
    padding-bottom: 12px;
	min-width: 100px;
	height: 40px;
	font-size: 12px;

	-webkit-transition: top 0.6s, border 0.3s, background 0.3s, color 0.3s;
	-moz-transition: top 0.6s, border 0.3s, background 0.3s, color 0.3s;
	transition: top 0.6s, border 0.3s, background 0.3s, color 0.3s;
}

.index_blocks{
	padding:15px;
	border-radius:5px;
}
.portfolio_items_block{
	display:none;
}
.portfolio_items_block.active{
	display:block;
}
.bottom-border-bold td{
	border-bottom: 1px solid #000 !important;
}

.btn-right{
	display: block; float:right; text-decoration: none;
}
.btn-left{
	display: block; float:left; text-decoration: none;
}
.scrollX{
	overflow-x: scroll;
}
.stat_company_reports tr.active td{
	background-color: #eed485 !important;
}
 .stat_company_reports td.period_header,
 .stat_company_reports td.sector-header
 {
	 cursor: pointer;
 }
 .tools_table_input{
	 font-size: 0.95em !important;
height: 20px !important;
width: 50px !important;
padding: 3px !important;
 }
