.bic_calendar{
    background: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #DDD;
}
.bic_calendar a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.bic_calendar .calendar_table tbody > tr > td{
    text-align: center;
    padding: 0px;
}
.bic_calendar td div{
    padding: 5px;
}
.bic_calendar td a{
    
}
.bic_calendar .calendar_header{
    padding: 10px 0 10px 0;
}
.bic_calendar .button-month-previous{
    padding: 5px;
    float: left;
}
.bic_calendar .button-month-next{
    padding: 5px;
    float: right;
}
.bic_calendar .button-year-previous{
    padding: 5px;
    float: left;
}
.bic_calendar .button-year-next{
    padding: 5px;
    float: right;
}
.bic_calendar .monthAndYear{
    text-align: center;
    font-weight: 500;
}
.bic_calendar .days-month{
    font-weight: 500;
}
.bic_calendar .event{
    color: white;
    background: #3B5A97;
    text-shadow: 0 0 2px #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.bic_calendar .event:hover{
    background: #3B5A97;
    text-shadow: 0 0 2px #000;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.8);
}
.bic_calendar .event a{
    color: white;
}
.bic_calendar .calendar_table{
    margin-bottom: 3px;
}
.bic_calendar .days-month td{
    background: #f0f0f0 ;
}
.bic_calendar .selection{
    background: rgba(141,200,230,0.5);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.bic_calendar .first-selection{
    border-radius: 6px 0 0 6px;
    border-right: 0;
}
.bic_calendar .last-selection{
    border-radius: 0 6px 6px 0;
    border-left: 0;
}
.bic_calendar .middle-selection{
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.bic_calendar .popover{
    color: #000;
    text-shadow: none;
}
.bic_calendar .popover-content{
    font-weight: 300;
}