/* footer
----------------------------------------------- */

.testpage,
.testpage * {
  line-height: 1.2;
}
.testpage .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  border: none;
  background: transparent;
  padding-bottom: 20px;
  width: 100%;
}
@media (min-width: 1630px) {
  .testpage .footer {
    text-align: center;
  }
}
.testpage .footer p {
  font-size: 11px;
  color: #9e9e9e;
}
@media (min-width: 1630px) {
  .testpage .footer p {
    display: inline-block;
    text-align: left;
  }
}
.testpage .footer a {
  color: #9e9e9e;
}
.testpage .footer a:hover {
  color: #00aa4f;
}
.testpage .footer .col:nth-child(2),
.testpage .footer .col:nth-child(3) {
  padding-left: 50px;
}
.testpage .footer .col:nth-child(3),
.testpage .footer .col:nth-child(4) {
  width: 25%;
}

@media (min-width: 1630px) {
  .testpage .footer .footer_black {
    text-align: left;
  }
}

/* wrapper
----------------------------------------------- */

.question_01,
.question_02,
.question_03,
.question_04,
.question_05 {
  transition: all 0.3s;
}
.question_02,
.question_03,
.question_04,
.question_05 {
  display: none;
  opacity: 0;
}

.testpage__outer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #01381a;
  width: 100%;
  height: 100%;
}
.testpage__outer .container,
.testpage__outer .row,
.testpage__outer .col,
.testpage__outer .col__before {
  height: 100%;
}

.testpage__outer .container {
  position: relative;
  max-width: 1170px;
}
.testpage__outer .row {
  position: relative;
  z-index: 10;
}
.testpage__outer .row.row__before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin: 0;
  width: 100%;
}

.testpage__outer .col,
.testpage__outer .col__before {
  float: left;
}
.testpage__outer .col.col-left,
.testpage__outer .col__before.col-left {
  width: 25%;
}
.testpage__outer .col.col-right,
.testpage__outer .col__before.col-right {
  padding-left: 50px;
  width: 75%;
}

.testpage__outer .col__before.col-left,
.testpage__outer .col__before.col-right {
  position: relative;
}
.testpage__outer .col__before.col-left::before,
.testpage__outer .col__before.col-right::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
}
.testpage__outer .col__before.col-left,
.testpage__outer .col__before.col-left::before {
  background: #01381a;
}
.testpage__outer .col__before.col-left::before {
  right: 100%;
}
.testpage__outer .col__before.col-right,
.testpage__outer .col__before.col-right::before {
  background: #04582a;
}
.testpage__outer .col__before.col-right::before {
  left: 100%;
}

.testpage__outer .col,
.testpage__outer .col__before {
  transition: all 0.3s;
}
/* .testpage__outer.final .col-right {
  max-width: 0%;
} */
.testpage__outer .col-left {
  min-width: 25%;
}
.testpage__outer.final .col-left {
  min-width: 100%;
  transition: all 0.3s 0.3s;
}

/* columns
----------------------------------------------- */

.testpage__outer .col {
  padding: 0 15px;
}

/* testpage__inner
----------------------------------------------- */

.testpage__inner {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 15;
  padding: 0 15px;
  width: 100%;
  transform: translateY(-50%);
}

/* row__title
----------------------------------------------- */

.testpage__inner .row__title {
  margin-bottom: 6%;
}
.testpage__green_title {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #047d3b;
}
.testpage__title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 300;
  color: #fcff00;
}

.testpage__inner .row__title .col-right {
  padding-top: 35px;
}
.testpage__number {
  margin: 0;
  opacity: 0.65;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #047d3b;
}
.testpage__number span {
  color: #ffffff;
}
.testpage__inner .row__main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 385px;
}

.testpage__inner .row__main::after {
  display: none;
}
.testpage__inner .row__main .col {
  height: auto;
}

/* baffet
----------------------------------------------- */

.testpage__baffet {
  position: relative;
  padding-top: 200px;
  padding-left: 70px;
  max-width: 175px;
  height: 230px;
  min-height: 230px;
  transition: all 0.6s 0.3s, padding-top 0s 0.6s, min-height 0.3s;
}
.testpage__outer.final .testpage__baffet {
  padding-top: 0;
  padding-left: 350px;
  max-width: 100%;
}
.testpage__baffet_lvl {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #79bc21;
  width: 30px;
  height: 100%;
  max-height: 100%;
}
.testpage__outer.final .testpage__baffet_lvl {
  left: 23%;
  transition: all 0.6s 0.2s, max-height 0.3s 0.3s;
}
.testpage__baffet_lvl .line {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #79bc21;
  width: 100%;
  height: 100%;
  max-height: 1px;
  transition: max-height 0.3s;
}
.testpage__baffet_lvl .line::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: -20px;
  border-width: 8px 8px 8px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #fcff00;
}
.testpage__baffet_img {
  position: absolute;
  left: 70px;
  top: 0;
  width: 105px;
  min-width: 105px;
}
.testpage__outer.final .testpage__baffet_img {
  left: 0;
  min-width: 205px;
  transition: all 0.6s;
}
.testpage__baffet_txt {
  position: absolute;
  top: 130px;
  left: 70px;
  max-width: 100px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #047d3b;
  transition: all 0.3s
}
.testpage__outer.final .testpage__baffet_txt {
  opacity: 0;
}

.testpage__baffet__result {
  position: relative;
  transition: all 0.3s;
  height: 100%;
}
.testpage__outer.final .testpage__baffet__result {
  opacity: 0;
}

.testpage__baffet_txt_success,
.testpage__baffet_txt_fail {
  display: none;
  margin: 0;
  font-weight: 400;
  color: #fcff00;
  transition: all 0.6s;
}
.testpage__baffet_txt_success {
  font-size: 22px;
}
.testpage__baffet_txt_fail {
  font-size: 17px;
}

.testpage__baffet_percent {
  line-height: 1;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s;
}
.testpage__outer.final .testpage__baffet_percent {
  font-size: 45px;
  transition: all 0.3s, font-size 0s 0.6s;
}

.testpage__baffet_txt_bottom {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  transition: all 0.6s;
}

/* questions
----------------------------------------------- */

.quest__img {
  width: 100%;
  height: auto;
  max-width: 165px;
}

.quest__text {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.testpage__inner .button {
  border-color: #fff;
  background: #fff;
  margin-right: 15px;
  padding: 22px 10px;
  height: 65px;
  min-width: 175px;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  color: #000;
}
.testpage__inner .button:hover {
  border-color: #00aa4f;
  background: #00aa4f;
}
.testpage__inner .button:active {
  border-color: #01381a;
  background: #01381a;
  color: #fff;
}

.testpage__baffet_txt_bottom .button {
  border-color: #79bc21;
  background: #79bc21;
  padding: 16px 20px;
  height: 54px;
  text-transform: uppercase;
}

.q02-money {
  margin-top: -30px;
  margin-bottom: 30px;
}
.q02-money span {
  font-weight: 700;
}

.question_02 .test_slider_outer {
  padding: 0 15px;
  width: 33.333333%;
  float: left;
}
.test_slider__before {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fcff00;
}

.test_slider {
  margin-bottom: 20px;
  border-radius: 4px;
  height: 8px;
}
.test_slider .ui-widget-header {
  top: 0 !important;
  border-radius: 4px;
  background: #fcff00;
  height: 100% !important;
}
.test_slider .ui-slider-handle {
  border-color: #79bc21;
  background: #79bc21;
  width: 24px;
  height: 24px;
}
.test_slider .ui-slider-handle {
  top: -8px;
  border-color: #79bc21!important;
  background: #79bc21!important;
  width: 24px !important;
  height: 24px !important;
}

.test_slider__after {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.testpage__inner .next-btn__outer {
  border-top: 1px solid #246e46;
  border-bottom: 1px solid #246e46;
  margin-top: 20px;
  padding: 20px 0;
  text-align: right;
}
.testpage__inner .btn-next.button {
  padding: 14px 20px;
  height: 50px;
}

.testpage__inner .radio,
.testpage__inner .checkbox {
  box-sizing: border-box;
  margin-bottom: 30px;
}
.testpage__inner .radio input + label,
.testpage__inner .checkbox input + label {
  padding-left: 60px;
  min-height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
}
.testpage__inner .radio input + label > span,
.testpage__inner .checkbox input + label > span {
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
}
.testpage__inner .radio input + label::after,
.testpage__inner .checkbox input + label::after {
  top: 0;
  width: 40px;
  height: 40px;
}
.testpage__inner .radio input:checked + label::after,
.testpage__inner .checkbox input:checked + label::after {
  background: #79bc21;
  border: none;
}
.testpage__inner .radio input + label::before,
.testpage__inner .checkbox input + label::before {
  top: 10px;
  left: 10px;
  background: #fff;
  width: 20px;
  height: 20px;
}

.q4_slider_outer {
  position: relative;
  margin-bottom: 60px;
  padding: 10px 170px 0 150px;
}
.q4_slider_outer .test_slider__after {
  position: absolute;
  top: 0;
}
.q4_slider_outer .test_slider__after.left {
  left: 0;
}
.q4_slider_outer .test_slider__after.right {
  right: 0;
}

.testpage__baffet_bnr {
  position: relative;
  border-radius: 10px;
  background: url('../img/banners/bnr_bg_01.jpg') no-repeat 20% center;
  background-size: cover;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  padding-left: 30%;
  padding-right: 230px;
  height: 120px;
  line-height: 1px;
  max-height: 0;
}
.testpage__outer.final .testpage__baffet_bnr {
  opacity: 1;
  margin-top: 50px;
  max-height: 120px;
  line-height: 120px;
  transition: all 0.6s 1.1s;
}
.testpage__baffet_bnr .text {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 0;
  line-height: 1.2;
  vertical-align: middle;
  font-size: 18px;
  color: #000;
}
.testpage__baffet_bnr .button {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 10;
  border-color: #79bc21;
  background: #79bc21;
  opacity: 0;
  padding: 0;
  height: 54px;
  min-width: 155px;
  line-height: 52px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transform: translateY(-50%);
}
.testpage__outer.final .testpage__baffet_bnr .button {
  top: 50%;
  opacity: 1;
  transition: all 0.3s, top 0.6s 1.3s, opacity 0.6s 1.3s;
}


.testpage__baffet_share {
  position: relative;
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  padding-left: 30.8%;
}
.testpage__outer.final .testpage__baffet_share {
  opacity: 1;
  visibility: visible;
  margin-top: 50px;
  transition: all 0.6s 1.1s;
}
.testpage__baffet_share .text {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  padding-right: 30px;
  width: 30%;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #fff;
  transform: translateY(-50%);
}

@media (max-width: 1199px) {
  .testpage__baffet_share {
    padding-left: 37%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .testpage__inner .row__main {
    height: 300px;
  }

  .testpage__baffet {
    padding-top: 155px;
    height: 180px;
    min-height: 180px;
  }
  .testpage__baffet_img {
    width: 85px;
    min-width: 85px;
  }
  .testpage__outer.final .testpage__baffet_img {
    min-width: 165px;
  }
  .testpage__baffet_txt {
    top: 105px;
    font-size: 14px;
  }
  .testpage__baffet_percent {
    font-size: 25px;
  }
  .testpage__outer.final .testpage__baffet_percent {
    font-size: 36px;
  }
  .testpage__baffet_txt_fail {
    font-size: 14px;
  }
  .testpage__baffet_txt_bottom {
    font-size: 20px;
  }
  .testpage__baffet_txt_bottom .button {
    position: relative;
    bottom: -10px;
  }
  .testpage__outer.final .testpage__baffet_bnr {
    margin-top: 30px;
    max-height: 100px;
    line-height: 100px;
  }

  .quest__text {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .q02-money {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .testpage__inner .radio, .testpage__inner .checkbox {
    margin-bottom: 20px;
  }
  .testpage__inner .radio input + label, .testpage__inner .checkbox input + label {
    font-size: 14px;
  }
  .testpage__inner .next-btn__outer {
    padding: 15px 0;
  }
  .test_slider__after {
    font-size: 16px;
  }

  .testpage .question_04 .test_slider {
    top: -5px
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testpage .footer .col:nth-child(2) {
    padding-left: 30px;
  }
  .testpage .footer .col:nth-child(3) {
    padding-left: 15px;
  }

  .testpage__baffet {
    padding-left: 55px;
  }
  .testpage__outer.final .testpage__baffet {
    padding-left: 270px;
  }
  .testpage__outer.final .testpage__baffet_lvl {
    left: 26%;
  }
  .testpage__baffet_lvl .line::before {
    right: -15px;
  }
  .testpage__baffet_img {
    left: 55px;
  }
  .testpage__baffet_txt {
    left: 55px;
    font-size: 13px;
  }
  .testpage__baffet_bnr .text {
    font-size: 14px;
  }

  .testpage__outer .col.col-right, .testpage__outer .col__before.col-right {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .testpage {
    background: #01381a;
  }
  .testpage .wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 130px;
  }
  .testpage .footer {
    position: absolute;
  }
  .testpage .footer .col,
  .testpage .footer .col:nth-child(2),
  .testpage .footer .col:nth-child(3),
  .testpage .footer .col:nth-child(4) {
    padding: 0 15px;
    width: 50%;
    height: 45px;
  }

  .testpage__outer, .testpage__inner {
    position: relative;
    height: auto;
  }
  .testpage__outer {
    padding: 20px 0;
  }
  .testpage__inner {
    top: 0;
    padding: 0;
    transform: none;
  }

  .testpage__outer .col__before.col-left, .testpage__outer .col__before.col-left::before,
  .testpage__outer .col__before.col-right, .testpage__outer .col__before.col-right::before {
    background: transparent !important;
  }

  .testpage__title {
    font-size: 16px;
  }
  .testpage__green_title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .testpage__inner .row__title {
    margin-bottom: 15px;
  }
  .testpage__inner .row__title .col-left {
    width: 140px;
    min-width: 140px;
  }
  .testpage__inner .row__title .col-right {
    padding-left: 15px;
    padding-top: 20px;
    width: calc(100% - 140px);
  }
  .testpage__number {
    font-size: 14px;
  }

  .testpage__inner .row__main {
    height: auto;
  }

  .quest__text {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .testpage .question_01 .quest-col_left {
    text-align: center;
  }
  .testpage .question_01 .quest-col_left img {
    max-width: 110px;
  }

  .testpage__inner .button {
    padding: 16px 10px;
    height: 50px;
    min-width: 120px;
    font-size: 14px;
  }

  .q4_slider_outer {
    margin-bottom: 30px;
    padding: 10px 120px 0 105px;
  }
  .testpage .question_04 .test_slider {
    top: -5px
  }

  .testpage__inner .row__main .col-left {
    align-self: flex-start;
    width: 140px;
    min-width: 140px;
  }

  .testpage__baffet {
    padding-top: 110px;
    padding-left: 35px;
    max-width: 110px;
    height: 135px;
    min-height: 135px;
  }
  .testpage__baffet_lvl {
    width: 20px;
  }
  .testpage__baffet_lvl .line::before {
    right: -12px;
  }

  .testpage__baffet_img {
    left: 35px;
    width: 55px;
    min-width: 55px;
  }
  .testpage__baffet_txt {
    top: 65px;
    left: 35px;73.0.3683.86
    max-width: 75px;
    font-size: 11px;
  }
  .testpage__baffet_percent {
    font-size: 22px;
  }

  .testpage__inner .row__main .col-right {
    padding-top: 20px;
    padding-left: 15px;
    width: calc(100% - 140px);
  }

  .q02-money {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .test_slider__before {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .test_slider {
    margin-bottom: 15px;
  }
  .test_slider__after {
    font-size: 16px;
  }
  .testpage__inner .next-btn__outer {
    padding: 10px 0;
  }
  .testpage__inner .btn-next.button {
    margin: 0;
    padding: 16px 10px;
  }

  .testpage__outer.final .testpage__inner .row__main .col-left {
    min-width: 100%;
  }
  .testpage__outer.final .testpage__baffet {
    padding-left: 250px;
    min-height: 165px;
  }
  .testpage__outer.final .testpage__baffet_img {
    min-width: 150px;
  }
  .testpage__outer.final .testpage__baffet_lvl {
    left: 180px;
  }

  .testpage__baffet__result {
    height: auto;
    min-height: 100%;
    padding-bottom: 50px;
  }
  .testpage__baffet_txt_success {
    font-size: 18px;
  }
  .testpage__baffet_txt_fail {
    font-size: 14px;
  }
  .testpage__outer.final .testpage__baffet_percent {
    margin: 0;
    font-size: 32px;
  }
  .testpage__baffet_txt_bottom {
    margin: 0;
    font-size: 16px;
  }
  .testpage__baffet_txt_bottom .button {
    position: relative;
    bottom: -10px;
  }
  .testpage__outer.final .testpage__baffet_bnr {
    padding-left: 28%;
    padding-right: 180px;
    max-height: 90px;
    line-height: 90px;
  }
  .testpage__baffet_bnr .text {
    font-size: 14px;
  }
  .testpage__baffet_bnr .button {
    right: 10px;
    padding: 0 10px;
  }

  .testpage__baffet_share {
    padding-left: 250px;
  }
  .testpage__outer.final .testpage__baffet_share {
    margin-top: 100px;
  }
  .testpage__baffet_share .text {
    left: 0;
    padding-right: 45px;
    width: 250px;
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .q4_slider_outer {
    margin-bottom: 30px;
    padding: 35px 0 0;
  }
  .testpage .question_04 .test_slider {
    top: -5px
  }

  .testpage__outer.final .testpage__baffet_img {
    min-width: 100px;
  }
  .testpage__baffet_lvl {
    max-height: 140px;
  }
  .testpage__outer.final .testpage__baffet_lvl {
    left: 115px;
    max-height: 110px;
    transition: all 0.6s 0.2s, left 0.6s, max-height 0.6s;
  }
  .testpage__outer.final .testpage__baffet {
    padding-left: 170px;
    min-height: 180px;
  }

  .testpage__baffet_txt_success {
    font-size: 15px;
  }
  .testpage__baffet_txt_fail {
    font-size: 12px;
  }
  .testpage__outer.final .testpage__baffet_percent {
    font-size: 24px;
  }
  .testpage__baffet_txt_bottom {
    font-size: 15px;
  }
  .testpage__outer.final .testpage__baffet_bnr {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 160px;
  }
  .testpage__outer.final .testpage__baffet_bnr::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #e5e7e6;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

    .testpage__baffet_share {
      padding-left: 0;
    }
    .testpage__outer.final .testpage__baffet_share {
      margin-top: 50px;
    }
    .testpage__baffet_share .text {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 10px;
      padding-right: 0;
      width: auto;
      text-align: left;
    }
}
@media (max-width: 479px) {
  .testpage__inner .row__title {
    margin-bottom: 30px;
  }
  .testpage__inner .row__title .col {
    width: 100%;
  }
  .testpage__inner .row__title .col-right {
    padding-top: 10px;
  }
  .testpage__number {
    font-size: 12px;
  }

  .testpage__inner .row__main .col-left {
    position: relative;
    top: -90px;
    margin-bottom: -65px;
    padding-left: 45%;
    width: 0;
    min-width: 0;
    height: 85px;
    min-height: 85px;
  }
  .testpage__baffet {
    padding-top: 40px;
    padding-left: 70px;
    max-width: 110px;
    height: 80px;
  }
  .testpage__baffet_lvl {
    top: 12px;
    height: 150px;
    transform: rotate(90deg) translateY(-45%)
  }
  .testpage__baffet_img {
    left: 0;
    width: 60px;
    min-width: 60px;
  }
  .testpage__baffet_txt {
    top: 0;
    left: 70px;
  }
  .testpage__baffet__result {
    white-space: nowrap;
  }

  .testpage__inner .row__main .col-right {
    width: 100%;
  }
  .testpage .question_01 .quest-col_left {
    display: none;
  }
  .testpage .question_01 .quest-col_right {
    right: 0;
    width: 100%;
  }
  .testpage__inner .button {
    min-width: 110px;
  }

  .testpage__outer .row {
    margin: 0 -10px;
  }
  .question_02 .test_slider_outer {
    padding: 0 10px;
  }
  .test_slider__before {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .testpage__outer.final .testpage__inner .row__main .col-left {
    top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 15px;
    height: auto;
    transition: all 0.6s
  }
  .testpage__outer.final .testpage__baffet {
    padding: 20px 0 0;
    height: auto;
    min-height: 180px;
    max-width: 100%;
  }
  .testpage__outer.final .testpage__baffet_img {
    top: -85px;
    left: 130px;
    min-width: 70px;
  }
  .testpage__outer.final .testpage__baffet_lvl {
    top: -80px;
    left: 230px;
    max-height: 70px;
    transform: rotate(0) translateX(0);
    transition: all 0.6s;
  }
  .testpage__outer.final .testpage__baffet__result {
    padding: 0;
    white-space: normal;
  }
  .testpage__baffet_txt_bottom {
    position: relative;
    margin-top: 15px;
  }
  .testpage__baffet_txt_bottom .button {
    bottom: 0;
  }
  .testpage__baffet_bnr,
  .testpage__outer.final .testpage__baffet_bnr {
    height: auto;
    max-height: none;
    line-height: 1.2;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
  }
  .testpage__baffet_bnr .text {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
  }
  .testpage__baffet_bnr .button {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    transform: none;
  }
}
@media (max-width: 399px) {
  .testpage .wrapper {
    padding-bottom: 190px;
  }
  .testpage .footer {
    padding-bottom: 0;
  }
  .testpage .footer .col,
  .testpage .footer .col:nth-child(2),
  .testpage .footer .col:nth-child(3),
  .testpage .footer .col:nth-child(4) {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}

#testpage__baffet_bnr .modal-header {
  border-bottom: 1px solid #038b26;
  margin-bottom: 30px;
}

.testpage .ui-slider-horizontal .ui-slider-handle{
  top: -4px;
}
