.r.active{
position: relative;
height: 40px;
width: 40px;
border: 1px solid red;
background: orange;
border-radius: 20px;

}
.progress{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display: block;
	background: orange;
}
