#popup_close {

}
#popup_close .loginModal-email-input, .loginModal-email-input {
  display: table-cell;
}

#popup_close .loginModal-email-input input {
  border: 1px solid #ace616;
  height: 40px;
  vertical-align: top;
  width: 280px;
  padding-left: 15px;
  color: #333631;
  font-size: 15px;
  background: #fff
}

#popup_close .loginModal-email-input-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545d4f;
  width: 115px;
  padding-right: 5px;
}

#popup_close .loginModal-email-container, #popup_close .loginModal-password-container {
    margin-bottom: 15px;
}

#popup_close .loginModal-button-login-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #545d4f;
    background-color: #ace616;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 28px;
    padding: 8px 35px;
    border: 2px solid #ace616;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.autocomplete-suggestions { /*border: 1px solid #999;*/ background: #FFF; overflow: auto; }
.autocomplete-suggestion { /*padding: 2px 5px*/; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { /*background: #F0F0F0;*/ }
.autocomplete-suggestions strong { /*font-weight: normal; color: #3399FF;*/ }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.content-sidebar-calendar-container {
    margin: 50px 0 0 30px;
    width: 250px;
    height: 290px;
    background-color: #ffffff;
    padding: 20px 16px;
}

.content-sidebar-calendar-month {
    /*padding-bottom: 15px;*/
    /*text-align: center;*/
    margin-bottom: 15px;
    /*border-bottom: 2px solid #dedede;*/
    margin-left: 3px;
    margin-right: 3px;
}

.content-sidebar-calendar-month a {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size: 18px;*/
    text-transform: uppercase;
    /*color: #00a95b;*/
}

.content-sidebar-calendar-days div {
    display: inline-block;
    height: 26px;
    text-align: center;
    /*width: 26px;*/
    /*margin-bottom: 3px;*/
}

.content-sidebar-calendar-days-day {
    /*font-size: 14px;
    color: #b9e719;*/
    text-transform: uppercase;
}

.content-sidebar-calendar-days-thismonth {
    /*font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #b5b7bc;*/
}

.content-sidebar-calendar-days-notthismonth {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size: 15px;
    color:rgba(181, 183, 188, 0.5);*/
}

.content-sidebar-calendar-days-link {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size: 15px;
    color: #b5b7bc;*/
    text-decoration: none;
    /*border-radius: 24px;
    border: 2px solid #b5b7bc;
    display: block;*/
}

/*.content-sidebar-calendar-days-link:hover, .content-sidebar-calendar-days-link:focus {
    text-decoration: none;
    color: #b9e719;
    border: 2px solid #b9e719;
}*/
.errortext {
    color:red;
}