/* market map */
#market_map_chart .jqplot-series-canvas {
	overflow: hidden;
}
.header{
	border-top: 2px solid #FFCC00;
}
.header_tools {
	position: absolute;
	top: 15px;
	right: 170px;
	font-size: 34px;
	text-decoration: none !important;
	color: white;
	transition: all 0.3s, top 0.6s;
}
.grey{
	color: #8f8f8f;
}
.red {
	color: red !important;
}

#portfolioHistoryChartOuter .historyChart-bg{
	display:none;
}

#portfolioHistoryChartOuter.showBgImage .historyChart-bg{
	display:block;
}

@media all and (min-width: 992px){
	.fp-viewing-0 .header .header_tools {
		top: 55px;
	}
}
@media all and (max-width:991px){
	.header_tools {
		top: 10px;
		font-size: 32px;
	}
}
@media all and (max-width: 479px) {
	.header_tools {
		right: 95px;
	}
}

.tab_cnt_marker {
	font-size: 13px;
	border-radius: 50%;
	background: #008940;
	padding: 0px 3px;
	color: #ffffff;
	margin-left: 5px;
}

.p0{
	padding:0 !important;
}
.mb0{
	margin-bottom: 0;
}
.mt30{
	margin-top: 20px;
}

.custom_collapse_elem_title.noborder{
	border-bottom: none;
}

/* right corona-widget */
.crn-gs-usa .crn-widget__img {
	border-radius: 50%;
	background: #000;
}
.crn-gs-usa.crn-widget {
	background: #313131;
}
/* right corona-widget */

/* preloader */
.preloader {
    position: relative;
    min-height: 60px;
}

.preloader:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    display: block !important;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.preloader::after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 54%;
	left: 43%;
	margin-left: -15px;
	margin-top: -15px;
	width: 80px;
	height: 80px;
	border: 4px rgba(0, 0, 0, .25) solid;
	border-top: 4px #008940 solid;
	border-radius: 50%;
	-webkit-animation: preloader .6s infinite linear;
	animation: preloader .6s infinite linear;
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

@keyframes preloader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}
/* preloader */

/* events calendar */
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	background: 0 0;
	color: #dbdbdb;
	cursor: default;
}
.highlight_event{

}
 .datepicker table tr td.highlight_event:not(.active) {
	background: #effbee !important;
}

.testSendEventsForUser{
	padding:12px;
	height: 40px;
}

.button-disabled, .testSendEventsForUser.disabled{
	border: 1px solid #b3b3b3;
	background: #cccccc;
	color: #626262;
}

/* events calendar */

/* mini-kurs */
.playlist_overlay_subscribe{
	position: absolute;
	background-color: rgba(255,255,255, 0.7);
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
	display: flex;
	align-items: center;
	justify-content: center;

}
.playlist_overlay_subscribe a{
	display:block;
	cursor: pointer;
}

.subscribe_form_leeloo{

}

/* mini-kurs */

/* lk */
.lk_bonus_more_button {
	position: absolute;
	right: 100px;
	top: 38px;
	z-index: 10;
	font-size: 12px;
	text-decoration: none !important;
	cursor: pointer;
	transition: all 0.3s;
}
.iti-mobile .lk_bonus_more_button {
	position: relative;
	right: unset;
	top: unset;
	z-index: 10;
	font-size: 12px;
	text-decoration: none !important;
	cursor: pointer;
	transition: all 0.3s;
}
.userpage_my_bonuses.lkTab::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent;
	width: 0px;
	height: 0px;
}

.lk-top-menu{
background: white;
position: absolute;
top: 45px;
display: none;
}

.lk-top-button:hover+.lk-top-menu{
  display: block;
}


/* lk */


/* obligations list filter*/
.actives_list_filter.sections_list {
	margin-bottom: 0px;
}

.actives_type_filter li {
	border-radius: 4px;
	padding: 5px 0;
	cursor: pointer;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.actives_type_filter li:hover {
	text-decoration: underline;
	color: #00aa4f;
}
.actives_type_filter li.active {
	background: #00aa4f;
	padding: 5px 10px;
	text-decoration: none;
    color: white;
}
.actives_type_filter li.active:hover { background: #00c75d; }
.actives_type_filter li .close {
	display: inline-block;
    opacity: 1;
	margin-left: 5px;
    line-height: 1;
	vertical-align: middle;
	font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    color: white;
}


.oblig_helper{
	font-size: 0.9em;
}
.oblig_helper {
	font-size: 0.9em;
}
.actives_list_filter li {
	border-radius: 4px;
	padding: 5px 0;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.actives_list_filter li.active:hover {
	background: #00c75d;
}
.actives_list_filter li.active {
	background: #00aa4f;
	padding: 5px 10px;
}

.actives_list_filter li.active a {
	text-decoration: none;
	color: white;
}
/* macro values pages */
.macro_values .company_chart_outer {
	margin: 50px 0 20px;
	height: 400px;
}
.macro_table {
	padding: 15px 0;
	height: 70px;
}
.macro_table .inline_select.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #00aa4f;
}
.macro_table .inline_select.select2-container--default .select2-selection--single .select2-selection__arrow b {
	background-image: url(../img/icons/arr_up.svg);
}


@media all and (max-width:480px) and (orientation: portrait){
.macro_table {
	padding: 15px 0;
	height: 130px;
}
.macro_table .select2-container .select2-selection--single .select2-selection__rendered {
	white-space: break-spaces;
}
}
/* macro values pages */

.midval.inline_select.select2-container--default .select2-selection--single .select2-selection__rendered {
	position: relative;
	top: -3px;
	padding-left: 0px;
	padding-right: 25px;
	color: #00aa4f;
}
.midval.inline_select.select2-container--default .select2-results > .select2-results__options {
	background: #fff;
	border: 1px solid #ececec;
}

/* popup register simple */
.modal-header .gotoback_style {
	position: absolute;
	top: 20px;
	left: 23px;
  /*	background: url(../img/icons/close.png) no-repeat center;*/
   background: transparent;
	border: none;
	opacity: 1;
	margin-top: -2px;
	cursor: pointer;
	width: 20px;
	height: 19px;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}
#popup_signup_simple .modal-dialog {
	width: 780px;
	max-width: 90%;
}
#popup_signup_simple .popup_master_subscribe_inner .left_col {
   padding-top: 0px;
	width: 55%;
}
/* popup register simple */

/* custom popup */
#popup_master_subscribe_custom .modal-dialog {
	width: 780px;
	max-width: 90%;
}
/* custom popup */

/* tooltip (i) for tag <p> */
.calculate_line .tooltip_btn.p-tooltip {
	position: relative;
	top: 0;
	right: 0;
	width: 18px;
	height: 18px;
	text-align: center;
	display: inline-block;
}
.p-tooltip + .tooltip > .tooltip-inner {
	width: 350px !important;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px;
}

.tooltip_btn.p-tooltip-green {
	position: relative;
	top: 1px;
	right: 0;
	text-align: center;
	display: inline-block;
   color: #00a84f;
	border: 1px solid #00a84f;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s;
}

/* instagram sidebar widget */
.inst_widget_conetainer{
	margin: 0 33px;
}

.inst_widget_header_link{
	text-align: center;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

@media all and (max-width:380px) and (orientation: portrait){
.inst_widget_conetainer {	margin: 0px 74px;}
}
@media all and (max-width:480px) and (orientation: portrait){
.inst_widget_conetainer { 	margin: 0 94px;}
}
@media all and (max-width:560px) and (orientation: portrait){
.inst_widget_conetainer { 	margin: 0 131px;}
}
/* instagram sidebar widget */


/* portfolio */
.button.bg-red{
	border: 1px solid #c70000;
	background: #c70000;
}
.button:hover.bg-red{
  background: #F00000; 
}

.portfolioHistoryPagenav{
margin:10px 0;
}
.calculate_table .smart_table.history_table tbody td:last-child {
	padding-top: 15px;
}
.child_history_row,
.child_history_row td,
.child_history_row td *{
	color: #777777 !important;
	font-weight: 200 !important;
}
.child_history_row td{
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.child_history_row td:first-child{
  padding-left:20px;
}

.line_red, .line_red a {
	color: red;
}
.line_green, .line_green a {
	color: #00aa4f;
}
.abl_list_block{
	margin:10px 0;
}
.abl_recount_button{
	height:55px;
}
.abl_recount_button span.icon{
	margin-top: 10px;
	font-size: 20px;
}
.abl_bottom_info{
	margin:5px 0;
	padding-top:5px;
	border-top: 1px solid #ccc;
}

.abl_table_group_action{
	margin:5px 0;
	color: #fff;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-wrap: nowrap;
}
.abl_table_group_action .abl_tga_name{
	width:100%;
}
.abl_table_group_action .abl_tga_check{

}
.portfolio-extlist-button {
	cursor: pointer;
	font-size: .9em;
}
.hidden_port_startpage{
  	display: none !important; 
}

.share_list a.add_to_portfolio{
  background: #00aa4f;
}
.share_list a.add_to_portfolio:hover {
	border-color: #00c75d;
	background: #00c75d;
	color: white;
}
.radar_table.pt_active tr.currency_row{
  /*	background-color: #fffef6;*/
}
.broker_loaded_files_block{font-size: 13px;}
.calculate_table .smart_table tr[class^=list-row-] td {
	background: #fbfbfb;
}
.calculate_table .smart_table tr[class^=list-row-].curlast td {
	border-bottom: 2px solid #ffba00;
}
.sections_list.portfolio_tables_selector {
	border-top: 1px solid #dededf;
	border-bottom: none;
	margin-bottom: 0;
	padding: 10px 0 10px;
	width: 100%;
}
.portfolio_tables_selector li {
	border-radius: 4px;
	padding: 5px 0;
	cursor: pointer;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	        transition: all .3s;
}
.portfolio_tables_selector li.active {
	background: #00aa4f;
	padding: 5px 10px;
	text-decoration: none;
	color: white;
}
.portfolio_valuation_table .smart_table.pt_deals th.name_col {
	width: 200px;
}.portfolio_valuation_table .smart_table.pt_deals th.date_col {
	width: 120px;
}
.calculate_table input[type='text'].datepicker {
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
	height: 40px;
	font-size: 14px;
}

.calculate_table input[type='text'].datepicker[disabled] {
	background: none;
	border: none;
	font-weight: 500;
}


.calculate_table .pt_deals .portfolio_elem_buy_price_final,
.calculate_table .pt_active .small_text
 {
	font-size: 14px;
}
.calculate_table .pt_active .elem_buy_price{
	height: 14px;
}

.calculate_table .one_price_text{
 font-weight: 500;
}
.calculate_table input.portfolio_elem_buy_price_one {
	width: 90px;
	font-size: 14px;
	text-align: center;
}

.portfolioHistoryTableFilter * {
	font-size: 16px;
}


.portfolioHistoryTableFilter  .datepicker-inline__outer input {
	display: inline;
	border: none !important;
	background: transparent !important;
	padding: 0 !important;
	width: 100px !important;
	height: auto !important;
	color: #00aa4f !important;
	font-size: 16px;
	cursor: pointer;
}
.phtf_Table_showAutoOperation.checkbox input[type=checkbox]{
	right: 0;
left: 0;
top: 0;
bottom: 0;
position: absolute;
width: 100%;
height: 100%;
cursor:pointer;
}

.phtf_Table_showAutoOperation.checkbox.custom input:checked + label {
	color: #00aa4f;
}
.phtf_Table_showAutoOperation.checkbox.custom label{
  z-index:0;
}

.popup_portfolio_remove_btn,
.popup_portfolio_rebalance_btn,
.popup_add_portfolio_btn {
	display: inline-flex;
	align-items: center;
	position: relative;
	margin: 0 30px 30px;
	text-align: left;
	cursor: pointer;
	transition: all .3s;
}
.popup_add_row_price_lot,
.popup_remove_row_price_lot,
.popup_add_row_summ,
.popup_remove_row_summ{
	padding-left: 23px;
}
.lineheight-1{
	line-height: 1em;
}

.popup_portfolio_rebalance_btn,
.popup_portfolio_remove_btn, {
	color: #c00;
}
.popup_portfolio_remove_btn .icon {
	line-height: 38px;
	text-align: center;
	color: #00a44c;
}
.popup_portfolio_remove_btn .icon,
.popup_portfolio_rebalance_btn .icon,
.popup_add_portfolio_btn .icon {
	align-self: flex-start;
	position: relative;
	border-radius: 50%;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	transition: all .3s;
}
.popup_portfolio_rebalance_btn .icon,
.popup_portfolio_remove_btn .icon {
	border: 1px solid #c00;
	color: #c00;
}
.popup_portfolio_rebalance_btn:hover ,
.popup_portfolio_remove_btn:hover {
	color: #fdc631;
}
.popup_portfolio_rebalance_btn:hover .icon ,
.popup_portfolio_remove_btn:hover .icon {
	border-color: #fdc631;
	background: #fdc631;
	color: #fff;
}
.popup_portfolio_remove_btn .text,
.popup_portfolio_rebalance_btn .text,
.popup_add_portfolio_btn .text {
	width: calc(100% - 50px);
}

.portfolio_main_buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.popup_add_portfolio_btn {
	color: #00a44c;
}
.popup_add_portfolio_btn:hover {
	color: #fdc631;
}
.popup_add_portfolio_btn .icon {
	border: 1px solid #00a44c;
	color: #00a44c;
}
.popup_add_portfolio_btn:hover .icon {
	border-color: #fdc631;
	background: #fdc631;
	color: #fff;
}
.checkbox.custom.add_portfolio_checkbox label {
	padding-left: 60px;
	font-size: 14px;
	color: #bbb;
	-webkit-transition: color .3s;
	   -moz-transition: color .3s;
	        transition: color .3s;
}
.portfolio_tables_selector li.popup_add_btn {
	margin-top: 8px;
	padding: 0;
	float: right;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.oblig_off,
.oblig_off *,
.oblig_off input,
.calculate_table .oblig_off input.portfolio_elem_buy_price[disabled],
.calculate_table .oblig_off input.portfolio_elem_number[disabled]{
		color: #888888 !important;
}

.oblig_off input[type="text"]::placeholder,
.oblig_off input[type="password"]::placeholder,
.oblig_off input[type="number"]::placeholder,
.oblig_off textarea::placeholder {
  color: #888888 !important;
}



.portfolio_tabs_table.pt_active tr{
	position: relative;
}

.portfolio_tabs_table.pt_active .oblig_off::after {
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: rgba(238, 238, 238, 0.9); */
  /*	content: 'Облигация погашена, удалите запись из портфеля.'; */
	right: 0;
	text-align: center;
	padding: 3px 0;
	font-size: 0.7em;
	color: #CC0000;
}


.userpage_portfolio_articles_list {
	margin: 0;
	padding: 0;
	width: 100%;
}
.userpage_portfolio_articles_list li {
	position: relative;
	padding-left: 30px;
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	color: white;
	transition: opacity 0.3s;
}
.userpage_portfolio_articles_list li::before {
	display: none;
}
.userpage_portfolio_articles_list .icon {
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 0;
	font-size: 14px;
	color: #ffb400;
	cursor: pointer;
	transition: all 0.3s;
}
.userpage_portfolio_articles_list .right-icon {
	display: inline-block;
  /*	position: absolute;*/
	top: 3px;
 /*	left: 0;*/
	font-size: 14px;
	color: #ffb400;
	cursor: pointer;
	transition: all 0.3s;
}
.copy_portfolio_btn {
	position: relative;
	font-size: 1em;
	color: #a6db16;
	cursor: pointer;
	padding-left: 19px;
	top: 2px;
}
.copy_portfolio_btn:hover{
	transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
  color: #eed324;
}

.copy_portfolio_btn .icon{
	position: absolute;
	bottom: 0;
	margin-right: 5px;
	left: 0;
	top: 1px;
}
.portfolio-disabled-editor-text{
	color:#EEEEEE;
}
.view_portf_descr{
	font-size: 0.75em;
	color: #ffffff;
	font-weight: 100;
}
.pf_descr_edit_btn{
	color: #ffe400;
	cursor: pointer;
}
.pf_descr_edit_btn:hover{
	transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;	
	color:#ffffff;
}

.userpage_portfolio_articles_list a {
	text-decoration: none;
	color: inherit;
}

@media all and (max-width:1199px) {
	.portfolio_valuation_table.calculate_table .smart_table.pt_deals th.name_col {
		width: 100px;
	}
}
@media all and (max-width:479px) {
	.popup_portfolio_remove_btn,
	.popup_add_portfolio_btn {
		margin: 0 5px 30px;
	}

	.popup_portfolio_remove_btn .text,
	.popup_add_portfolio_btn .text {
		font-size: 14px;
	}
	.copy_portfolio_btn {
	font-size: 0.8em;}
}

@media all and (max-width:480px) and (orientation: portrait){
	.portfolio_tables_selector li.popup_add_btn {
		float: none;
	}
/*.popup_add_portfolio_btn {*/
/*	display: block;*/
/*	position: relative;*/
/*	padding-left: 55px;*/
/*	margin-bottom: 30px;*/
/*	margin-right: 0;*/
/*}*/

/*.popup_portfolio_remove_btn {*/
/*	display: block;*/
/*	padding-left: 55px;*/
/*	margin-bottom: 30px;*/
/*	margin-left: 0;*/
/*}*/

}


li.popup_add_btn {
	display: inline-block;
	position: relative;
	padding-left: 0;
	margin-bottom: 0;
	height: 1em;
	line-height: 1em;
	text-align: left;
	color: #00a44c;
	cursor: pointer;
	transition: all 0.3s;
}
li.popup_add_btn .text {
	display: inline-block;
	line-height: 1.2em;
	 vertical-align: inherit;
}
li.popup_add_btn .icon {
	position: relative;
	top: -1px;
	/* left: 0; */
	border: 1px solid #00a44c;
	border-radius: 50%;
	/* margin-top: -11px; */
	 margin-right: 0;
	width: 16px;
	height: 16px;
	line-height: 15px;
	text-align: center;
	color: #00a44c;
	transition: all 0.3s;
	display: inline-block;
	font-size: 9px;
}
li.popup_add_btn .icon {
	line-height: 16px;
	text-align: center;
	color: #00a44c;
	font-size: 9px;
}
.add_portfolio_checkbox {
	margin: 15px 0;
}
p.portfolio_element_data {
	font-size: 14px !important;
}
.calculate_table_add_portfolio_btn {
	display: inline-block;
	border-bottom: 1px dashed #00a44c;
	vertical-align: top;
	margin-top: 30px;
	font-size: 13px;
	font-weight: 700;
	color: #00a44c;
	cursor: pointer;
	transition: all .3s;
}
.calculate_table_add_portfolio_btn:hover {
	border-bottom-color: transparent;
}
.modal_active_row {
	display: flex;
	flex-wrap: nowrap;
}
.modal_actives_rows_container_header .modal_active_row {
 color: #dededf;
 border-bottom:1px solid #dededf;
 margin-bottom:5px;
 margin-top: 5px;
}

.modal_active_row > .modal_active_name {
	width: 50%;
}
.modal_active_row > .modal_active_count {
	width: 20%;
}
.modal_active_row > .modal_active_summ {
	width: 30%;
}
.modal_actives_block {
	margin-bottom: 25px;
}
.top-border{
	border-top: 1px solid;
	margin-top: 5px;
}

.indexes_actives_table{
	color:#333333;
}

@media (min-width: 1199px) {
	.calculate_line.three_elements.three_elements_date .left_col {
		width: 28%;
	}
}

/* obligation detail page */
.coupon_row_hidden{
	display:none;
}
.obl_coupons_show_next_page {
	margin: 50px 0 30px;
}
/* obligation detail page */

/* oferta GS */
.oferta_gs {
	margin-bottom: 30px;
	height: auto;
	min-height: 25px;
	line-height: 0.9;
	position: relative;
	font-size: 13px;
	text-align: center;
}
/* oferta GS */

/* popup progress overlay */
.popup_progress{
	display:none;
}

.popup_progress.active{
	background-color: rgba(13, 18, 20, .8);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}
#popup_load_from_broker2 .popup_progress.active::after{
	display: none;
}

.popup_progress.active .load_overlay {
	display: block !important;
}

/* popup progress overlay */

/* radar etf page */
.calculate_table.etf_table .smart_table .turnover_col {
	width: 100px;
}
.calculate_table.etf_table{
  display:none;
}

/* radar etf page */

/* actions usa radar */
.calculate_table.shares_usa_table{
  display:none;
}
.calculate_first .checkbox input + label {
	height: 100%;
	color: white;
}
/* actions usa radar */

/* indexes detail page */

/*.calculate_table.indexes_actives_table .smart_table .price_col {
	width: 200px;
}
.calculate_table.indexes_actives_table .smart_table .name_col {
	width: 300px;
}*/
/* indexes detail page */

/* Midvalues rows in emitents page's table */
.mid_vals_table,
.emitent_vals{
	color: #8f8f8f;
	font-size: 0.9em;
}
.mid_vals_table_label{

}
.overtable-span{
	display: inline-block;
	width: 49%;
}
.checkbox.compareTypeMoney.custom input:checked + label,
.checkbox.hideCurrentPeriodFinpoks.custom input:checked + label {
	color: #428f32;
}
/* crn */
.tooltip {
	z-index: 1500;
}
.mobile .crn-widget, .tablet .crn-widget {
	right: -400px;
}
.mobile .crn-widget.opened, .tablet .crn-widget.opened {
	right: 15px;
}
@media (max-width: 479px) {
	.crn-widget {
		right: -400px;
	}
	.crn-widget.opened {
		right: 15px;
	}
}

/* playlist */
.playlist-undervideo-btn-block{
	float: right;
	color: #000;
}
.playlist-undervideo-descr-block{
	clear:both;
	color: #000;
}

/* playlist */

/* gs actives list */
.industry_headind td{
	font-weight: 600 !important;
}

/* gs actives list */

@media all and (max-width:992px){
.hideCurrentPeriodFinpoks{
	display:none;
}
.key_indicators_table .footable-details tr:last-child{
	display:none;
}

}